[2018-09-21 11:06] pbugnion opened #1 "Add license document"
We should add the Apache 2 license.

[2018-09-21 11:11] pbugnion opened #2 "Add long_description and clean pypi landing page"
The [pypi landing page](https://pypi.org/project/dash-bootstrap-components/) doesn't look great at the moment. Adding a `long_description` would go a long way towards solving this.

[2018-09-21 14:36] tcbegley commented on #2
I have currently have this setup to just use the README as the long_description. I also changed the url to link to this repo, I think it looks a lot better already, you can see the current state of it for `0.0.2-rc1`

https://pypi.org/project/dash-bootstrap-components/0.0.2rc1/

[2018-09-22 14:12] pbugnion commented on #2
Great!

[2018-09-22 14:12] #2 closed

[2018-09-22 16:31] tcbegley commented on #1
Re

[2018-09-22 16:33] tcbegley commented on #1
Sorry for my fat fingers opening and closing this...

This has been resolved by PR #3

[2018-09-22 16:33] #1 closed

[2018-09-29 05:59] sylvoslee opened #12 "How to change the width of the Popover body to more than 300px"
When I set the width to over 275px,
like style={'width':'275px','height':'300px'}
popover body will exceed the border.

[2018-09-30 01:30] sylvoslee commented on #12
Thank you，I try edit the local copy of Bootstrap CSS,but seem not work, what is wrong?
`.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: norm

[2018-09-30 01:40] sylvoslee commented on #12
thank you

[2018-09-30 07:53] #12 closed

[2018-10-17 18:02] tcbegley opened #21 "Bootstrap styling for DatePicker components"
`DatePickerSingle` and `DatePickerRange` work well inside `FormGroup` components, but the default styling makes them look a bit out of place when next to Bootstrap themed inputs. For example, they are taller than Bootstrap inputs and don't have rounded corners. It would be good to look into whether we can bundle some CSS that unifies everything.

[2018-10-22 06:01] pbugnion opened #24 "Consistent linting and reformatting rules"
I believe we have both been using [black](https://black.readthedocs.io/en/stable/) for formatting Python source code, and mostly sticking to pep 8. For now, the JS source code is mostly fairly self-consistent.

Would it make sense to adopt a consistent code style through reformatters and CI tests? It'd help outside contributors make pull requests that are visually similar to the current codebase.

[2018-10-22 12:25] tcbegley commented on #24
I think this would be great.

Of the two currently open PRs, one is ready to merge and another doesn't affect any of the JS or Python source, so now might be a good opportunity to set something up?

[2018-10-23 06:40] pbugnion commented on #24
Great -- I'll add this over the next couple of days.

[2018-10-23 07:48] tcbegley commented on #24
Perfect, let me know if I can help at all.

[2018-11-02 13:52] pbugnion commented on #24
Closed by PRs #31  and #26 .

[2018-11-02 13:52] #24 closed

[2018-11-06 23:31] tcbegley commented on #21
This is being addressed by #43

[2018-11-09 13:31] #21 closed

[2018-11-10 12:23] pbugnion opened #47 "Add isort to the CI pipeline?"
PR #44 adds `isort` configuration. I don't have any strong preferences, but if we think imports should be sorted, should we add isort checks to the CI pipeline?

If some developers use isort and not others, it will lead to confusing diffs.

[2018-11-10 12:54] tcbegley commented on #47
Yeah I guess this makes sense. I don’t have particularly strong preferences either, but occasionally find I sort convenient for organising my imports with minimal effort. I added the configuration because out of the box it clashes with black. Maybe enforcing some consistency is a good thing.

[2018-11-11 10:42] pbugnion opened #50 "Allow radio and checkbox inputs?"
At the moment, only the following input types are [allowed](https://github.com/ASIDataScience/dash-bootstrap-components/blob/master/src/components/input/Input.js#L103):

- text
- textarea
- number
- password
- email
- range
- search
- tel
- url
- hidden

Reactstrap explicitly [supports](https://github.com/reactstrap/reactstrap/blob/master/src/Input.js#L66) checkbox and radio inputs as well. Is the

[2018-11-11 14:51] pbugnion opened #52 "Allow dropdowns in input groups"
Reactstrap supports dropdowns in input groups (see [docs](https://reactstrap.github.io/components/input-group/), for instance) via the `InputGroupButtonDropdown` component.

This just passes an `addonType` prop to a `Dropdown` component. See:

- the `InputGroupButtonDropdown` [source](https://github.com/reactstrap/reactstrap/blob/master/src/InputGroupButtonDropdown.js)
- how the underlying Dropdow

[2018-11-12 09:06] tcbegley commented on #50
The checkbox and radio inputs are included as `Checklist` and `RadioItems` components, both to shadow the implementation in Dash Core Components, and because allowing allowing the input type to be type `radio` or `checkbox` would then require a much more manual construction of the radio buttons or checkboxes that I think would be very difficult to use in Dash callbacks.

[2018-11-12 09:08] tcbegley commented on #52
Nice, I think this would be a good addition. I also favour exposing extra options in the api of our `DropdownMenu` component over adding a new component. Very happy for you to have a go at implementing this.

[2018-11-13 07:30] tcbegley commented on #50
Ah ok, yeah I think that would be useful, particularly to allow use of checkboxes in input groups as in the reactstrap examples.

[2018-11-13 10:00] tcbegley commented on #47
This has been resolved by #54

[2018-11-13 10:00] #47 closed

[2018-11-17 07:49] pbugnion opened #60 "Reduce the bundle size"
The generated bundle is fairly big. I think this is because we include parts of modules that we don't need.

I don't think this is urgent at all, but if we can, it might be worth spending some time understanding how to reduce the bundle size.

[2018-11-17 14:07] pbugnion commented on #52
Closed by PR #59.

[2018-11-17 14:07] #52 closed

[2018-11-17 14:16] pbugnion opened #62 "Transformation is not set correctly for dropdown menu when direction is `up`"
When creating a dropdown menu with `direction == 'up'`, items do not show correctly. In particular, the style `bottom` is not set to `auto` and the transformation that is supposed to push the items above the dropdown is wrong.

<img width="303" alt="screen shot 2018-11-17 at 14 53 55" src="https://user-images.githubusercontent.com/1392879/48662342-c8c30800-ea78-11e8-942a-cd17224e4ad2.png">

[2018-11-18 11:02] pbugnion commented on #62
## Cause

tl;dr this is caused by dash using react 15, not 16.

Long version:

Setting `direction = "up"` as a prop works in `Demo.js`.

By looking at the [reactstrap source code](https://github.com/reactstrap/reactstrap/blob/214da8c6fb02ccb1198444a378e85851f366b87a/src/DropdownMenu.js#L71), reactstrap injects a prop called `x-placement` in `RSDropdownMenu` that changes depending on the dropdown d

[2018-11-18 11:04] pbugnion commented on #62
Dash-renderer has a PR for migrating to React 16:

https://github.com/plotly/dash-renderer/pull/97

[2018-11-19 07:58] pbugnion opened #65 "Re-enable direction=up on dropdowns"
In issue #62 and PR #64 , we decided to disable opening dropdowns with `direction="up"` until Dash renderer supports React 16.

[2018-11-19 07:58] pbugnion commented on #62
Closing this in favour of issue #65, which is more up-to-date. Thank you!

[2018-11-19 07:58] #62 closed

[2018-11-20 12:12] tcbegley opened #66 "Add function for Table from pandas dataframe"
It would be good to add a function to the python module that creates a `Table` component from a pandas Dataframe.

[2018-11-20 15:53] tcbegley opened #67 "Create handler to extract columnProps correctly"
Currently the pipeline for generating docstrings for each of the components (which is also visible as part of the auto-generated api documentation in the docs app) fails on custom prop-types such as `columnProps` as used by `Col`. This would be most robustly resolved by adding a handler to the pipeline that can correctly extract and parse the prop type.

[2018-11-20 15:55] tcbegley opened #68 "Improve docstrings"
The current state of the docstrings could be improved. A few props on some components have no documentation, and many have fairly uninformative sentence fragment descriptions. We should do a pass of all the components to clarify and unify the documentation.

[2018-11-21 08:00] pbugnion opened #70 "Error log in documentation for progress bar component"
The progress bar component occasionally triggers an error -- I think when it's first loaded. This is the stack trace.

[code]

I haven't had time to investigate, but I suspect we don't catch the initial None in the callback.

[2018-11-21 09:42] tcbegley commented on #70
Yep, that's exactly the problem. I caught this yesterday as well and tacked a patch on to #58 by setting `n_intervals=0` initially.

[2018-11-23 08:52] pbugnion commented on #70
Ah great! Should we close this, then?

[2018-11-23 08:54] tcbegley commented on #70
Ah yes, meant to do that after merging.

[2018-11-23 08:54] #70 closed

[2018-11-23 11:42] pbugnion opened #74 "Document Input components"

[2018-11-23 11:43] pbugnion opened #75 "Document Navbar component"

[2018-11-24 09:33] pbugnion opened #79 "The documentation needs a favicon"
At the moment, we just use the default Dash favicon. It would be a nice to have a custom one.

... this probably means having some kind of logo.

[2018-11-24 09:35] tcbegley commented on #79
That sounds like a good idea. I'm also going to rule myself out of being in charge of designing it!

[2018-11-24 09:36] tcbegley opened #80 "Document ListGroup component"

[2018-11-26 13:59] tcbegley commented on #80
Resolved by #84

[2018-11-26 13:59] #80 closed

[2018-11-30 10:27] nadaouk opened #87 "Documentation does not build on latest dash"
Traceback (most recent call last):
File "run.py", line 3, in <module>
from app import App
File "/project/nadine/dash-bootstrap-components/docs/app.py", line 7, in <module>
from components_page import ComponentsPage
File "/project/nadine/dash-bootstrap-components/docs/components_page/__init__.py", line 1, in <module>
from .page import ComponentsPage  # noqa: F401
File "/project/nadine/dash-bootstra

[2018-11-30 11:51] tcbegley commented on #87
Thanks for reporting @nadaouk!

[2018-11-30 13:13] tcbegley commented on #87
Resolved by #88

[2018-11-30 13:13] #87 closed

[2018-12-04 10:55] pbugnion opened #89 "Add strings for URLs to CDN distributing bootstrap themes"
It'd be great to be able to write:

[code]

[2018-12-07 22:17] T4rk1n opened #93 "Update components build tools."
Install dash>=0.31.1 then add this command to `package.json`:

[code]

Dash must be installed on the current environment when you run the command. Or you can make sure the environment is activated with this, assuming you have a venv directory in the project root:

`(. venv/bin/activate || venv\\scripts\\activate && dash-generate-components ./src/lib/components dash_bootstap_components)`

Then chan

[2018-12-08 07:06] pbugnion commented on #93
Thanks for submitting this! @tcbegley happy to look at this since I put some of the initial infrastructure in place.

[2018-12-08 07:50] #89 closed

[2018-12-09 08:43] pbugnion commented on #93
@T4rk1n Under what conditions do `_js_dist["dev_package_path"]` and `_js_dist["external_url"]` get used?

At the moment, we don't publish dash_bootstrap_components to NPM, so having a link to unpkg seems a bit meaningless. While we do want to publish to NPM, I think we will probably publish a bundle that is optimized for building additional JS components, not as a faithful representation of the cu

[2018-12-09 15:53] T4rk1n commented on #93
They are optional keys.

- `dev_package_path` is used for serving the dev bundle for debugging the front end and more dev features. It is served when the key is found in `_js_dist` and `app.run_server(debug=True)`.
- `external_url` is used when found in the `_js_dist` and `app.scripts.config.serve_locally=False`, it is the current default of dash when found.
- `relative_package_path` is the main p

[2018-12-09 16:07] pbugnion commented on #93
Perfect, thank you for the explanation.

I suggest we try to include a dev bundle, probably as a new PR separate to #94.

[2018-12-10 12:52] tcbegley opened #95 "Images not rendered on PyPI landing page"
Currently in `setup.py` the `long_description` is set by simply reading the `README.md` file. This however causes the embedded images to break on the PyPI landing page:

![image](https://user-images.githubusercontent.com/15220906/49733805-64135b80-fc7a-11e8-9b84-a1122bdb940e.png)

[2018-12-11 09:18] pbugnion commented on #95
An easy fix would be to have a tiny long description that just redirects to the docs?

[2018-12-11 10:18] brylie opened #96 "Error loading dependencies"
I have installed `dash-bootstrap-components` via Pip, and included the Bootstrap CSS in my project manually (since I don't want to use CDN). When adding a `dbc.Button()` to a layout, I get the following error in the browser:

[2018-12-11 11:01] tcbegley commented on #96
Hey @brylie

Would you be able to post the app you tried to run? Did you see any errors in the terminal?

I just installed `dash` and `dash-bootstrap-components` in a clean virtual environment and ran the following (with local Bootstrap CSS saved to `assets` in the same directory as my app code) and it worked for me:

[code]

If you run that code do you get the same issue?

[2018-12-11 12:17] tcbegley commented on #96
Ah interesting, thanks. I've not used `django-plotly-dash` before, I will keep an eye on the other issue to see if the problem is fixable at our end.

Thanks for reporting!

[2018-12-11 13:20] brylie commented on #96
Cool beans. Thanks for your quick response Tom :-)

[2018-12-11 18:28] tcbegley opened #97 "Components mostly missing `key` prop"
Many of the components don't expose `key` to the Python interface. This can be useful for, among other things, forcing components to re-render when working with multi-page Dash apps that have multiple pages with similar structures.

[2018-12-13 07:09] pbugnion opened #100 "Create a development bundle"
Having a development bundle with source maps would make development easier. See issue #93 for an explanation.

[2018-12-13 07:10] pbugnion commented on #93
I've opened issue #100 for creating a development bundle. Everything else in this issue is addressed in PR #94, so I'm closing this.

Thanks for your help!

[2018-12-13 07:10] #93 closed

[2018-12-13 20:25] mkhorton opened #101 "Support custom NavbarBrand instead of just a string?"
Hi, I'm not sure if I'm missing an obvious solution to this, but it seems like as currently written the Navbar brand has to be a string, even though the NavbarBrand component itself could in principle contain other items as children (eg an Html.Img)?

I'm looking for an easy way to add a left-aligned logo to a Navbar instead of only brand text.

Many thanks for releasing this component suite, it l

[2018-12-13 20:41] mkhorton commented on #101
Actually may be easier to do this via css and the brand_style.

[2018-12-13 21:32] tcbegley commented on #101
Hey @mkhorton, you're right, the brand does have to be a string.

Currently it's only possible to pass Dash components as the children of other Dash components, not any other prop. So in particular you can't pass, e.g. `html.Img` to `brand`. There was [an issue](https://github.com/plotly/dash-renderer/pull/32) opened a while back on the `dash-renderer` repo that would have addressed this, but it's

[2018-12-14 08:04] tcbegley opened #102 "Example on docs homepage uses undocumented CSS classes"
The example app on the docs homepage uses `docs-content` CSS class to add margins, which is not documented and part of the documentation app's internal stylesheet. It should be changed to use Bootstrap classes.

This was spotted by ndbcorp on the [Plotly forums](https://community.plot.ly/t/show-and-tell-dash-bootstrap-components/16614/22)

[2018-12-14 09:57] tcbegley commented on #66
This has been resolved by #92

[2018-12-14 09:57] #66 closed

[2018-12-14 10:52] tcbegley commented on #102
Resolved by #103

[2018-12-14 10:52] #102 closed

[2018-12-14 12:40] pbugnion commented on #101
I agree with the idea of a new custom component that gives more control over the children. It seems like a good way to give the user (almost) arbitrary flexibility, but still keeping a simple navbar for people who don't need all that flexibility.

[2018-12-23 22:49] tcbegley commented on #74
Resolved by #108

[2018-12-23 22:49] #74 closed

[2018-12-24 10:35] pbugnion opened #112 "Branch protection on master"
When trying to release 0.2.6, I noticed that our release scripts were broken because the master branch was protected. At the moment, our release script:
- pushes a commit and a tag to master as part of `invoke release 0.2.6`
- pushes a commit as part of `invoke postrelease 0.2.6`.

I temporarily removed the restriction, pushed and re-enabled it afterwards.

I'm not sure who enabled the branch rest

[2018-12-24 11:12] tcbegley commented on #112
The second of the three options seems like it’s probably the best to me? Not sure why the master branch permissions changed, but I agree it’s probably best to not allow pushing directly to master.

[2018-12-24 12:14] srstevenson commented on #112
This was me: when I changed the contact email address for all our open source projects to `opensource@` I disabled branch protection on `master` where it was active so I could commit the change directly using the GitHub editor. Yesterday I remembered I'd done this, and re-enabled it where I thought it had been active, and mistakenly thought that included this repository. Sorry for breaking things.

[2018-12-24 12:38] pbugnion commented on #112
Ah thanks for the explanation.

(2) should be fairly easy to implement. The extra cost of having to merge manually on GitHub outweighs having someone accidentally breaking the master branch.

[2018-12-27 05:33] ned2 commented on #101
I would love a custom component that supports more control over the children. I just came here to open an issue asking about just this.

In addition to the limitation of only having strings as the `brand` prop, I was also hoping to be able to add Dash components to parts of the Navbar that are not nav-items. For example, including an form element before the nav items, as in [this Bootstrap dashboa

[2018-12-27 13:19] ned2 opened #116 "Should there be a `dbs.Textarea` component?"
I tried to use a `dbc.Input` with `type="textarea"` but found that this didn't seem to apply any attributes/styles to make it emulate the behaviour of an actual `textarea` element. So I fell back to using a `dcc.Textarea` component with Bootstrap `form-control` classes. I'm wondering if there should just be a `dbs.Textarea` component or alternatively, making `type="textarea"` emulate a `textarea`

[2018-12-27 13:44] tcbegley commented on #116
Yes you're right, I think we should provide a separate component like `dash-core-components` does with the Bootstrap styles applied automatically.

[2019-01-03 10:54] tcbegley commented on #116
This has been added by #117 and will be available in the next release (probably going to merge #118 before making a new release).

[2019-01-03 10:54] #116 closed

[2019-01-03 11:11] ned2 commented on #116
Awesome!

On Thu, Jan 3, 2019, 21:54 Tom Begley <notifications@github.com wrote:

[2019-01-05 10:00] pbugnion commented on #116
`dbc.TextArea` is now available in dash-bootstrap-components 0.2.7 (available on PyPi).

[2019-01-06 19:36] tcbegley commented on #75
Added in #118. Will be available next time documentation is deployed.

[2019-01-06 19:36] #75 closed

[2019-01-08 10:31] tcbegley commented on #101
This has been resolved by #118 which has been released as version `0.3.0` of *dash-bootstrap-components*. You now have full control over the children of `Navbar`. We've also added a `NavbarSimple` component that has the same functionality as the old `Navbar` in case you don't need the flexibility of the new component.

Check out [the docs](https://dash-bootstrap-components.opensource.asidatascienc

[2019-01-08 10:31] #101 closed

[2019-01-08 15:45] mkhorton commented on #101
Thanks for adding this!

[2019-01-10 06:02] mbkupfer opened #122 "Adding a dropdown component that is similar to dcc.Dropdown"
Dash's dcc.Dropdown doesn't style easily, at least from my experience.
Is there a way to add a dbc dropdown component that can change the size and appearance in the same way that [input](https://dash-bootstrap-components.opensource.asidatascience.com/l/components/input) does for dcc.Input?

[2019-01-10 07:04] tcbegley commented on #122
Hi @mbkupfer

Good suggestion, I think this is worth adding.

I also want to do the same properly for the DatePicker components. Currently the DatePickers match default Bootstrap styles, but don’t work very well with Bootswatch because the styling is hard coded.

[2019-01-10 07:07] tcbegley opened #123 "DatePicker components with Bootstrap styling"
Add DatePicker components that style themselves with relevant bootstrap classes (such as `form-control`) rather than having the styles hard coded. This will better support use with Bootswatch and other non-default Bootstrap stylesheets.

See also #122

[2019-01-12 17:03] villoro opened #124 "Strange behavior with new Navbar"
Hello @tcbegley

This is the problem I was telling you in my repo.

With the new `navBar` component introduced in version `0.3.0` there is a strange behavior when parameter 'nav' is set to True. It adds a point and make the navbar bigger than expected

This is **without** `nav=True`:
![image1](https://user-images.githubusercontent.com/10529654/51076074-344dde00-1694-11e9-9250-7e2573ebadfa.PNG)

Th

[2019-01-26 16:17] tcbegley opened #126 "Remove events"
Events are [being removed from Dash](https://github.com/plotly/dash/pull/550).

We should remove them from the source and documentation.

[2019-01-30 09:17] tcbegley commented on #97
Resolved by #128

[2019-01-30 09:17] #97 closed

[2019-02-03 17:35] pbugnion opened #130 "Should we show the examples?"
Web app examples are particularly effective at demonstrating what a library can do, and how to do it. Since we have some great examples, it would be beneficial to host them somewhere.

We don't really want to host one different app for each example, though. One idea might be to use different base paths for different apps? E.g.

[code]

I'm not sure whether we can get the above to work.

An alterna

[2019-02-03 17:40] pbugnion commented on #130
Happy to put more thought into this if we think exposing the examples is useful.

[2019-02-03 17:44] pbugnion commented on #130
Some useful links here: https://community.plot.ly/t/hosting-multiple-dash-apps-uwsgi-emperor-vs-multi-page-apps-vs-multi-app-projects/6561

[2019-02-04 09:04] tcbegley commented on #130
I think this is a great idea.

I don't have any great ideas on deployment right now, but wanted to add a [link to the shiny gallery](https://shiny.rstudio.com/gallery/) which I think does a nice job of showing off example apps.

[2019-02-05 10:42] tcbegley commented on #68
This has been resolved by #129

[2019-02-05 10:42] #68 closed

[2019-02-09 13:47] happyshows opened #133 "Add font awesome icon"
Hi,

Is it possible to add icon support in next release? Similar to what shiny button supports.

[2019-02-09 14:55] pbugnion commented on #133
Thanks for raising this!

Fontawesome support would be great. I'm not sure whether this belongs directly in dash-bootstrap-components or in a separate layer.

For reference, the RShiny interface looks like:

[code]

More details in the [RShiny docs](https://shiny.rstudio.com/reference/shiny/1.0.1/icon.html).

[2019-02-09 15:13] tcbegley commented on #133
Thanks for suggesting this. I agree I'm not sure whether this belongs in *dash-bootstrap-components*.

The Shiny interface I think is a little restrictive, for example, something like

[code]

generates the following HTML structure

[code]

but perhaps a user might like to position the icon after the text, which would be difficult with this interface.

Instead I think icons as children rather than

[2019-02-09 15:24] happyshows commented on #133
that's why I currently use, thanks for the detailed explanation.

[2019-02-09 15:24] #133 closed

[2019-02-10 12:02] pbugnion commented on #133
It sounds like a *dash-font-awesome* library that implements `Icon("refresh")` would be a good addition to the ecosystem.

For anyone wanting to implement this -- I suggest looking at how dash-bootstrap-components manages loading CSS (through the themes package -- see, e.g. 'Getting started' in the [docs](https://dash-bootstrap-components.opensource.faculty.ai/)). Converging on a standard for link

[2019-02-11 14:52] happyshows commented on #133
@pbugnion  could you post the link for dash-font-awesome? I can't find it...

[2019-02-17 07:40] pbugnion commented on #133
Sorry -- my message was a bit unclear. I think someone should write that library. It doesn't exist yet.

[2019-02-19 02:56] happyshows opened #136 "Create toggle switch"
Hi,

Is there plan to add something like this?
https://github.com/twbs/bootstrap/issues/15783

[2019-02-19 06:59] tcbegley commented on #136
Yes, we would like to add those. They actually only fairly recently got [added to reactstrap](https://github.com/reactstrap/reactstrap/pull/1353), the underlying ReactJS library that we use to make *dash-bootstrap-components*. This means that adding the switch will require upgrading the version of reactstrap that we use and as a result is a bigger job than just adding a new component. But it would

[2019-02-19 13:22] tcbegley commented on #136
I think reactstrap 7 uses `createPortal` for rendering `Popover` and maybe some other components we currently have, which is incompatible with the version of React that `dash-renderer` uses. If I'm not mistaken about that, then updating the version of reactstrap we're using will have to wait until [Dash 1.0](https://github.com/plotly/dash/issues/469) is released, which might take a little while.

[2019-02-19 14:47] happyshows commented on #136
ok thanks.

[2019-02-20 11:04] tcbegley commented on #50
Resolved by #134

[2019-02-20 11:04] #50 closed

[2019-02-21 15:53] RayPalmerTech opened #137 "How to make a progress bar pop up and disappear during indeterminate process after button click"
I am wondering how I could use the Progress component to implement an indeterminate progress bar that shows up when I click a button (which is meant to update a graph) and disappears when the graph is loaded.

The reason I ask this is because I have an application where a button-click is supposed to retrieve data from a database, which can take an unknown amount of time.  During that waiting perio

[2019-02-22 22:10] tcbegley commented on #137
Hi @RayPalmerTech

Really glad to hear you're enjoying *dash-bootstrap-components*!

This sort of thing can be a bit fiddly in Dash. It's going to be easier in the future I think with the new loading states api and `Loading` component that was [previewed in December](https://community.plot.ly/t/loading-states-api-and-a-loading-component-prerelease/16406).

If you want to do something more manually

[2019-02-25 09:11] eromoe opened #138 "NavLink would not trigger Input('url', 'pathname')"
Hello,

Refer to dash exmaple, click `dcc.Link`  would trigger `Input('url', 'pathname')`  callback .

[code]

But this doesn't work in `dbc.NavLink('order_source', href='/order_source')` .

[code]

[2019-02-25 09:26] tcbegley commented on #138
Hi @eromoe, thanks for reporting

I wasn't able to reproduce this. Here is the code I ran based on your snippets. Could you try running this and verify that you get the same problem?

[code]

[2019-02-25 10:02] eromoe commented on #138
@tcbegley  Thank you ! I found it  need `dcc.Location(id="url", refresh=False)` . This should be introduce in the docs.

[2019-02-25 10:04] tcbegley commented on #138
Great! Glad I could help. And thanks for the feedback, I'll make a note to include it when we next refresh the documentation.

[2019-02-27 06:53] #138 closed

[2019-02-27 15:19] tcbegley commented on #137
I'm going to close this for now, but feel free to reopen if you need any of the above clarified.

[2019-02-27 15:19] #137 closed

[2019-03-03 01:26] jmsblah commented on #130
I am trying to run the example app in Navbars.py, but I am getting the error: `ImportError: cannot import name '_components' from 'dash_bootstrap_components'  (\dash-bootstrap-components\dash_bootstrap_components\__init__.py)`

[2019-03-03 06:24] jmsblah opened #139 "Right-aligned menu"
Is it possible to get right-aligned menu on the navbar?
[Bootstrap | menu-alignment](https://getbootstrap.com/docs/4.0/components/dropdowns/#menu-alignment)

[2019-03-03 12:30] tcbegley commented on #139
Hi @jmsblah

That's not supported currently. I think it should be possible to add a `right` prop to `dbc.DropdownMenu` and pass it to the reactstrap `DropdownMenu` [here](https://github.com/facultyai/dash-bootstrap-components/blob/master/src/components/DropdownMenu.js#L50). (Note the unfortunate clash of terminology, what Bootstrap and reactstrap call a Dropdown we call DropdownMenu because we wan

[2019-03-04 04:59] mdylan2 opened #140 "How to Structure a Multi-Page App"
Hi,

Really awesome and helpful project!

I'm just a little confused at designing a multi-page app using your NavBar bootstrap component. I'm using [Dash's structure](https://dash.plot.ly/urls) currently to do so; specifically, the app1-app2 example toward the bottom of the page.

My question is this: If I want the same NavBar component on every page, do I need to copy/paste the NavBar component w

[2019-03-04 05:33] mdylan2 commented on #140
Nevermind, I figured it out.

[2019-03-04 05:33] #140 closed

[2019-03-04 07:28] pbugnion commented on #140
Hi!

Thanks for raising this. For the benefit of anyone else coming across this issue, here's a minimal example. @mdylan2 is this similar to how you solved it?

[code]

[2019-03-04 08:26] tcbegley commented on #140
I don't believe this is currently possible (though you can get close by generating the callbacks in a loop), however a couple of days ago support for multiple outputs in a callback was merged in the [dash repo](https://github.com/plotly/dash/pull/436) and will appear in the next release. With this I think you could do something like (this is untested)

[code]

[2019-03-04 10:57] mdylan2 opened #141 "Examples on Callbacks using DBC Dropdown"
I like the style of the DBC Dropdowns compared to the DCC ones. However, the DCC dropdowns display the dropdown item I selected. Was wondering if this feature could be styled into the Bootstrap dropdowns?

Also, it's a little difficult to understand (from the Bootstrap documentation) how a dropdown menu selection can be used to filter graphical information. Would I need to design callbacks on mult

[2019-03-04 15:22] jmsblah commented on #139
Hi!
It would be great to be able to contribute, I am just not sure on how to do it. But I will give it a try!

[2019-03-04 16:00] tcbegley commented on #139
That's great that you'd like to contribute! Here's a rough guide, we should definitely add some instructions to our README though. Before I get into it, I had another think about this, and I think the sizing issues I was seeing on my experiment were a React 15/16 issue (current version of React is 16 which is what ReactStrap is built for, but *dash-renderer* uses React 15, and it sometimes causes

[2019-03-04 21:00] tcbegley commented on #141
Hey @mdylan2

Really glad you're enjoying *dash-bootstrap-components*!

The look of `dcc.Dropdown` can be customised quite a bit if you write some custom CSS. What is it about the style of the Bootstrap dropdowns you like specifically? I might be able to give you a few pointers.

Yes, that's correct. Though I would say that `dbc.DropdownMenu` works better for navigation type interactions. It's ver

[2019-03-04 23:05] tcbegley opened #142 "Updates for Dash v1"
This issue is for tracking changes that either need to be made, or can't be made before the release of Dash v1.  Most of the changes are the result of Dash v1 (or specifically *dash-renderer*) supporting React 16, while the current release of Dash does not.

- [x] Upgrade to reactstrap 8. Currently blocked from doing so as the implementation of some of the components we rely on (notably `Dropdown`

[2019-03-04 23:11] tcbegley commented on #122
Hey @mbkupfer

It's been a while since you opened this issue, sorry about that. We're moving away from including our own `Dropdown` component, primarily because it seems wasteful to duplicate functionality that's present in *dash-core-components*. Instead we're moving towards providing Bootstrap stylesheets that add styling for *dash-core-components* etc. I've started working on that [here](https:

[2019-03-05 03:58] mdylan2 commented on #140
@pbugnion That's exactly how I did it. However, for my application, I didn't set the "active" callbacks you described.

Thanks for that thought! I'll be sure to implement it

[2019-03-05 04:27] mdylan2 commented on #141
Hi @tcbegley,

Thanks for the quick response. I think I'll stick to the `dcc.Dropdown` to filter my graphs for now.

I've been working on the CSS for my dropdown and have come a long way with it. So far, I've been able to decrease the font-size of the placeholder and the border colors (before and after selection). I'm struggling with reducing the actual size of the box (specifically the height of

[2019-03-05 08:05] tcbegley commented on #141
Hey @mdylan2

I'll have a play around with the styling of `dcc.Dropdown` and let you know if I get anywhere.

For your second question, the white color of the links is being set by `dbc.NavLink`, just delete these and it should look ok again, i.e.

[code]

You only need the `NavLink` for items like "Overview", "Feedback" etc.

Also as a final note, if you want to use flatly, you don't need to down

[2019-03-05 22:00] mbkupfer commented on #122
@tcbegley thanks for getting back to me on this and no worries.

I tried it out and it looks nice but I think it adds a lot of css layers that makes styling a pain. I also noticed that it's important how the css files are names when placed in the assets folder of the dash app since dash reads them in order. For instance, if the bootstrap stylesheet was last, then my whole app had a new style and n

[2019-03-05 23:07] jmsblah commented on #122
In fact, prefixing the filenames is something recommended in the [Dash external resource documentation](https://dash.plot.ly/external-resources).

[2019-03-05 23:21] jmsblah commented on #139
I am trying to build the components but I am getting an error when running `build:py`:
`sh: 1: dash-generate-components: not found`

Not sure what I am doing wrong, to test npm I tried to run the demo and it worked ok.

[2019-03-06 01:42] mbkupfer commented on #122
Ah, yes, that is wear I remember seeing this.

Either way, I thought this was important given your isolation from dash core component styling approach via the `className="dash-bootstrap"` convention.

[2019-03-06 03:01] jmsblah commented on #139
Hi @tcbegley
I gave it a try and it seems to be working for me, take a look at the screenshots below.
I didn't find any issue with the sizing, can you explain better what you got so I can try to replicate?

![image](https://user-images.githubusercontent.com/37494306/53852968-cafe9300-3f91-11e9-8e07-e874526d2936.png)

![image](https://user-images.githubusercontent.com/37494306/53853004-e7023480-3f9

[2019-03-06 09:08] tcbegley commented on #122
I definitely hear you on this, but in some sense that is out of our hands. The `dcc.Dropdown` is styled using all of those classes, and it doesn't allow you to modify any of them by setting props. As a result the two options are

1) Override the existing CSS classes, which is certainly messy, though the idea here is that we figure out how to do it, so that you don't have to.
2) Build our own `Drop

[2019-03-06 09:12] tcbegley commented on #139
Closing this in favour of #142 that's tracking this and #143 that would resolve this.

[2019-03-06 09:12] #139 closed

[2019-03-06 09:13] tcbegley commented on #136
This is now being tracked in #142

[2019-03-06 09:13] #136 closed

[2019-03-07 02:47] happyshows commented on #142
just curious, do you find any post / issue talking about the roadmap of Dash and when v1 will be ready?

[2019-03-07 09:42] mdylan2 commented on #141
Really helpful advice! Thanks a lot @tcbegley!

Please let me know if you figure anything out about the `dcc.Dropdown` height.

[2019-03-07 17:08] tcbegley commented on #142
[This issue](https://github.com/plotly/dash/issues/469) on the Dash repo is tracking progress on v1.

[2019-03-08 16:28] tcbegley commented on #122
Closing this in favour of the approach of #147

[2019-03-08 16:28] #122 closed

[2019-03-08 16:29] tcbegley commented on #123
Closing this in favour of the approach of #147

[2019-03-08 16:29] #123 closed

[2019-03-08 16:36] tcbegley opened #148 "Kill DatePickerSingle, DatePickerRange."
These two components make our bundle a lot larger through the `react-dates` dependency, but ultimately just replicate functionality present in *dash-core-components*. I think we should kill them and instead encourage use of the *dash-core-components* version, in conjunction with the CSS being added in #147.

Neither component is explicitly documented (though `DatePickerSingle` does appear in the i

[2019-03-08 16:37] tcbegley commented on #60
I believe #148 should help with this.

[2019-03-08 16:38] tcbegley commented on #65
Closing this as it's being tracked by #142.

[2019-03-11 07:10] pbugnion opened #149 "'Random name' button in documentation not working"
In the button section of the [input group docs](https://dash-bootstrap-components.opensource.faculty.ai/l/components/input_group), the random name button isn't working.

Happy to look into this in the coming days.

[2019-03-11 07:58] tcbegley commented on #149
I noticed the other day that the “generate” example below is also not working but didn’t get around to raising the issue yet. If you look at that one too it would be cool if you could adapt it to use the new `callback_context` feature. It’s documented under ‘How do I determine which Input has changed?’ in the [Dash FAQs](https://dash.plot.ly/faqs).

[2019-03-13 06:49] pbugnion commented on #148
Removing these sounds good. One way to go about removing them could just be to replace them with something like:

[code]

Doing this would save an annoying deprecation cycle.

[2019-03-13 06:52] pbugnion commented on #60
Definitely. I haven't tested this, but I have a hunch that we can also reduce the bundle size considerably by replacing blanket imports of *ramda* with more targeted imports.

See e.g. https://github.com/ramda/ramda#usage.

[2019-03-13 19:24] tcbegley opened #150 "Support dashR"
An R interface for Dash is [in development](https://github.com/plotly/dashr), it would be cool if we supported this. A cursory look at the *dash-core-components* repo suggest it may not be too much extra work?? Perhaps those will be famous last words.

[2019-03-13 21:48] mikesmith1611 opened #151 "Style is not set on the Tab component"
The style property that can be set on the Tab item is not used at all.

[2019-03-14 07:58] tcbegley commented on #151
Hi @mikesmith1611

It appears to be working for me, see this minimal example

[code]

The padding is correctly applied to the second tab. This is happening [here](https://github.com/facultyai/dash-bootstrap-components/blob/master/src/components/tabs/Tabs.js#L80), the `Tabs` component is responsible for rendering tabs, the `Tab` component itself is really just used like an object and when used with

[2019-03-14 08:32] mikesmith1611 commented on #151
Hi, my mistake. I wrongly thought that the style on the Tab component was supposed to be applied to the Li or nav-item that contains the label. I am using the Tabs in a callback so I do not set the children here so didn’t notice what was happening. It would be great if we had the ability to set a style for the nav-items. I would like them to all float left as I want to put them in a scroll bar in

[2019-03-14 08:48] tcbegley commented on #151
Ah understood! Yes, having some control over the style of the tab itself sounds like a good idea, and should be pretty doable. I'll make sure this gets added, thanks for the feedback!

[2019-03-15 19:14] valveca-ai opened #153 "Inline Form with dcc.Dropdown squashes the dropdown"
Using dash-bootstrap-component 0.3.5

[2019-03-15 19:22] valveca-ai commented on #153
This is the code to reproduce the issue.

[code]

[2019-03-15 19:23] valveca-ai commented on #153
![image](https://user-images.githubusercontent.com/45005709/54456868-4270b700-4736-11e9-95a2-dcddac4ae069.png)

[2019-03-16 13:37] tcbegley commented on #153
Thanks for reporting @valveca-ai

As a quick fix, you could add something like `style={"min-width": "250px"}` to the Dropdown, which will stop it from getting squashed.

I'll have a think about whether there's a better way to fix this too. It might be possible to do this through the custom Bootstrap stylesheets we're working on (see #147).

[2019-03-16 13:58] tcbegley commented on #151
Resolved by #152

[2019-03-16 13:58] #151 closed

[2019-03-16 14:03] tcbegley opened #155 "Document tab_style and label_style of Tab"
#152 added `tab_style` and `label_style` props to `Tab`. We should add an example demonstrating their use to the docs.

[2019-03-16 14:04] tcbegley opened #156 "Document usage of custom CSS."
We should document how to use the custom CSS added by #147

[2019-03-21 10:11] tcbegley commented on #149
Resolved by #154

[2019-03-21 10:11] #149 closed

[2019-03-25 23:14] vivekvs1 opened #163 "Expose 'style' for button_group"
Hi,

Is it possible to expose the `style` property for `button_group`? Interestingly, when I use a callback to modify the `style `for the `button-group`, it works. But I am unable to define the `style `during definition.

Thanks,
Vivek

[2019-03-25 23:16] vivekvs1 opened #164 "Tab component does not work with dash v0.40"
Hi,

After updating `Dash `to `v0.40`, the Tab component results in '`Error Loading Layout`'.  I have confirmed that the Tab component works well if I switch back to `v0.39`.

Thanks,
Vivek

[2019-03-26 07:00] tcbegley commented on #163
Hi @vivekvs1

Thanks for raising, we can definitely do that.

[2019-03-26 07:01] tcbegley commented on #164
Hi @vivekvs1

Thanks for raising this. I have managed to reproduce the problem, and will try to understand what's changed and why things are breaking now as soon as possible. Sorry for the inconvenience.

[2019-03-26 08:45] ned2 opened #165 "Support loading states data attribute"
I have an app with some CSS selectors that apply loading spinners to elements with the data attribute `data-dash-is-loading="true"` as described in the [Loading States documentation](https://dash.plot.ly/loading-states).

It seems that this isn't supported on Dash Bootstrap Components however, as I have a `dbc.Col` who's children property is set by a callback, but doesn't get the `data-dash-is-loa

[2019-03-26 09:23] tcbegley commented on #165
Thanks for reporting @ned2

Looking at `html.Div` [here](https://github.com/plotly/dash-html-components/blob/master/src/components/Div.react.js#L7-L10) it appears that there's some additional logic that needs to be added to our components to support this. Doesn't look too complicated though, so I think we should be able to support it.

[2019-03-26 11:21] ned2 commented on #165
Awesome, that's great. Given how frequently dbc components can be used
within a given layout, I think not having that support would probably often
preclude the use of this loading state API within Dash apps using dbc.

On Tue, 26 Mar 2019 at 20:23, Tom Begley <notifications@github.com> wrote:

--
nedned.net

[2019-03-26 13:41] vivekvs1 commented on #164
Thank you :)

[2019-03-29 13:44] adm78 opened #168 "Expose 'disabled' property for Input"
Dash core components `Input` component has  a `disabled` property that disables the input (element becomes greyed out and un-clickable). It would be great if the bootstrap variant also exposed this, so we can set it in the layout/attach callbacks to it.

[2019-03-29 14:13] tcbegley commented on #168
Great idea @adm78, I think that should be relatively straight forward to add. Thanks for raising.

[2019-03-29 14:21] amarvin opened #169 "Improve Row syntax error traceback"
If you forget the square brackets with the layout component Row, the error traceback is misleading.

For example, this is the correct syntax for a row with two columns:
[code]

But if the square brackets are ommitted:
[code]
This causes an error, as dbc.Row will interpret the second input as its `id`, but the error traceback isn't informative:
[code]

Is there anyway to make this more clear for us

[2019-03-29 14:36] tcbegley commented on #169
Hi @amarvin

Thanks for raising this. I think that unfortunately this is kind of out of our hands. It's actually a problem that's true of Dash components generally, as they are all generated from JavaScript by the `dash` module itself (in fact you'll notice in your traceback that the error is being raised in `\site-packages\dash\dash.py`), so any change to the error messages would need to be imple

[2019-03-29 14:37] tcbegley commented on #164
Resolved by #166

[2019-03-29 14:37] #164 closed

[2019-03-29 14:37] amarvin commented on #169
Good points, thanks @tcbegley.

[2019-03-29 14:37] #169 closed

[2019-03-29 14:37] #155 closed

[2019-03-29 14:41] vivekvs1 commented on #164
Thank you!!

[2019-03-29 14:42] tcbegley commented on #164
No worries, thanks for alerting us to this in the first place!

[2019-03-30 09:08] tcbegley commented on #165
Hey @ned2, I've had a go at this, see #171.

Obviously there's a lot of components to test, so if you're interested in trying it out and letting us know if you run into any problems please do:

[code]

[2019-03-30 10:35] ned2 commented on #165
I just tried it out on the app I was working on, and components underneath a `dbc.Col` are now getting `data-dash-is-loading="true"` being applied!

Unfortunately, I don't have any apps with other dbc components having components underneath them ready to try out.

[2019-03-30 11:03] tcbegley commented on #165
That’s great! I’ll keep testing it before releasing, but some independent validation is useful, so thanks!

[2019-04-02 08:14] tcbegley opened #173 "Better support for `Badge` in callbacks"
`Badge` has a `href` prop, which when set adds hover and focus states to the badge making it actionable. However, currently it's not really possible to use the badge as an input to a Dash callback.

I propose the following two improvements to `Badge`:
- Add `n_clicks` prop to capture click events. Refer to [implementation in `Button`](https://github.com/facultyai/dash-bootstrap-components/blob/mas

[2019-04-03 14:05] bearsh opened #174 "Multi-Value Dropdown"
Hi

It would be nice to have multi value support in the dropdown like dash has.

[2019-04-04 07:25] tcbegley commented on #174
Hi @bearsh

Thanks for raising this. Could you elaborate a bit on what you would expect this to look like / how you would like to use it?

[2019-04-04 08:26] SivamPillai opened #176 "Pagination for Table Component and more Documentation"
The table component is an elegant solution, especially when importing the table from a pandas dataframe in python. However, it does not seem to have an option to enable pagination. This makes it less useful for large tables. Am I missing something or has this not been implemented yet. This would also go well with more table features like sorting, filtering, highlighting, etc.

If we can do this wi

[2019-04-04 08:49] tcbegley commented on #176
Hey @SivamPillai

Thanks for raising this. I agree that our `Table` component is somewhat limited. Ultimately it's just a HTML table with Bootstrap styling, and hasn't really been designed with more advanced features like pagination, sorting etc. in mind.

I think it's unlikely we would implement these ourselves, because ultimately we would just be replicating a lot of the functionality of `dt.Dat

[2019-04-04 08:52] tcbegley commented on #176
I just had a look around and found [this](https://mdbootstrap.com/docs/react/tables/datatables/) which looks pretty nice. It might be possible for us to build a Dash interface to that. What do you think @SivamPillai?

[2019-04-04 10:36] bearsh commented on #174
At the moment I use it to select channels from a data source to show in a plot. I couldn't find anything better / more compact.
Regarding the look, the selection should work like the one provided by dash, the look like the dropdown provided by this project.

[2019-04-07 08:52] tcbegley commented on #174
I think if you want the same functionality as the `dcc.Dropdown`, it would be better to use that and try to modify the CSS / styles to get the right look for your app. Our `DropdownMenu` is really meant to be used more as a way of gathering and organising links to navigate a multi-page app. It would be pretty hard for us to support e.g. multiple selections, or dynamically generated / very large li

[2019-04-07 10:04] tcbegley commented on #148
Resolved by #159

[2019-04-07 10:04] #148 closed

[2019-04-07 10:04] #153 closed

[2019-04-07 10:05] tcbegley commented on #163
Resolved by #167

[2019-04-07 10:05] #163 closed

[2019-04-07 10:05] tcbegley commented on #168
Resolved by #170

[2019-04-07 10:05] #168 closed

[2019-04-07 10:05] tcbegley commented on #165
Resolved by #171

[2019-04-07 10:05] #165 closed

[2019-04-07 10:12] tcbegley commented on #60
#159 reduced the bundle size to about a third of what it was. At 268KB it's still slightly above the recommended limit of 244KB, but perhaps that's fine? There may be some scope to reduce a bit further.

[2019-04-08 06:19] pbugnion commented on #60
I think the current bundle is fine. I think there's still some value in reading around how to manage the bundle size, but it's probably OK for now.

Happy to close this if you want.

[2019-04-08 06:24] pbugnion commented on #176
There's also [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/).

Would it make sense to include this in dash-bootstrap-components, or in a separate package?

[2019-04-08 06:53] tcbegley commented on #60
Agreed, happy for you to close this

[2019-04-08 07:33] #60 closed

[2019-04-09 08:10] bearsh commented on #174
Fair enough! Thank you anyway, gonna close it...

[2019-04-09 08:10] #174 closed

[2019-04-09 08:19] tcbegley commented on #174
No problem, sorry I couldn't be more help.

I responded to someone yesterday on the plotly forum who had a similar question. Maybe [my answer there](https://community.plot.ly/t/dash-bootstrap-components-dropdownmenu-value/22011/6) on styling the dash-core-components Dropdown is helpful.

[2019-04-11 07:18] tcbegley commented on #142
With the release of Dash v0.41.0, *dash-renderer* is now using React 16, so we are no longer blocked from implementing the items in this issue.

[2019-04-11 08:18] tcbegley opened #178 "HighlightedSource border radius not being applied"
The border radius isn't getting applied properly to the `HighlightedSource` elements in the docs. Likely something changed in the underlying `dcc.SyntaxHighlighter`.

![image](https://user-images.githubusercontent.com/15220906/55941730-bd949280-5c3a-11e9-88c5-fe43fa3f8666.png)

[2019-04-11 18:51] happyshows commented on #142
cool, look forward to it.

[2019-04-14 08:37] tcbegley opened #180 "Dismissable Alerts sometimes don't work if `id` is not set."
Reported by @jchang10 [here](https://github.com/facultyai/dash-bootstrap-components/pull/158#issuecomment-482751341)

Running this code works as expected:

[code]

however, making just the following simple change:

[code]

and the `Alert` no longer dismisses when the dismiss button is clicked. If you set the `id` of the `Alert`, it works again

[code]

[2019-04-14 18:27] tcbegley commented on #180
This doesn't appear to be a problem when building the same layout in React, so it's something that's happening in Dash. I believe that whether or not a component has an `id` set can affect how `setProps` is defined? That would be worth investigating next.

[2019-04-15 21:34] trhallam opened #181 "Styling of dash_core_components"
Hi, I'm enjoying this package and generally finding it a breeze to integrate with the dash libraries but I had a question about applying the bootstrap styling the the dash_core_components.

In particular the Input component from dash (https://dash.plot.ly/dash-core-components/input)
has some extra options like 'step' for example which would be great for my app but the bootstrap ones don't seem to

[2019-04-16 07:52] Eternal127 opened #182 "Unpredictable behavior of grid in rendering graph."
Hi, I am rendering a bar chart within a tab and everything is working fine, although when I tried putting a graph in second tab it shows very strange behavior.
I have given md=12 and lg=12 to the column within a tab and then a container named body contains these tabs. Now my my graph in first tab is being rendered just fine but the graph in second tab spans the area of only 6 grid columns, and whe

[2019-04-16 08:48] tcbegley commented on #181
Hey Tony,

Glad you're enjoying *dash-bootstrap-components*! Thanks for raising this. I just submitted PR #183 which exposes additional props that *dash-core-components* makes available that we previously weren't. You can try it out by installing the prerelease I made to test it if you like:

[code]

More generally, a lot of the Bootstrap styling is applied by CSS classes, and you can style *dash-

[2019-04-16 09:03] tcbegley commented on #182
Hi @Eternal127

Check out [this post](https://community.plot.ly/t/graph-in-tabs-not-extending-to-all-screen/21806/2) on the plotly forums for some details on how to resolve this.

In brief, `Tabs` sets `display:none` on tabs that aren't visible, which means that plotly is unable to infer the correct width when rendering the graph. When the tab is made visible, it doesn't trigger a redraw. As you n

[2019-04-16 09:08] trhallam commented on #181
Many thanks for the very prompt reply

Just tried both of those and whilst the `dcc.Input(...)` approach looks similiar its not quite the same. The *0.4.1rc1* package was perfect but, thank you.

I'm new to CSS and Bootstrap so still working it out as I go, I have worked through most of those Bootstrap docs but it is not always clear to me where Bootstrap styling calls should go when creating comp

[2019-04-16 09:41] Eternal127 commented on #182
Thanks, It works.

[2019-04-16 10:17] Eternal127 commented on #182
Everything works  as expected but now there is another issue.
I have basically two drop-downs and a graph in both the tabs, now page is displaying drop-downs twice in both the tabs. like
Drop-downs
My graph
again Drop-downs here.

Is the callback firing twice? If yes, then why only drop-down is rendered twice and not graph.
If I comment this callback then everything is rendered only once.
I am not

[2019-04-16 10:48] tcbegley commented on #181
I often find the inspector in the browser to be very helpful when understanding what the different style arguments and classes are doing. For example, inspecting the "Components" button on the *dash-bootstrap-components* docs homepage I can see this sort of thing:

![image](https://user-images.githubusercontent.com/15220906/56202732-9b848100-603b-11e9-86bb-6c17ed480d1f.png)

I can see what `color`

[2019-04-16 11:35] tcbegley commented on #182
Are you passing children to the `Tab` components? If you are using a callback to switch tabs, the `Tab` components themselves should be empty. E.g.

[code]

or to be really explicit if you want

[code]

[2019-04-16 12:47] trhallam commented on #181
I have seen the inspector before but totally forgot about it. That is by far the most useful styling tip I've seen for playing with `dash`. Thank you! I was trying to read the src to figure out `DashTable` and the inspector is far more informative. As with anything it helps when you know where to start.

[2019-04-16 12:47] #181 closed

[2019-04-16 13:07] Eternal127 commented on #182
yes, you are right. I figured it out after some digging, thank for the help though. I'm loving this library.

[2019-04-16 13:07] #182 closed

[2019-04-19 09:40] tcbegley commented on #181
This is now available in version 0.5.0, no more need for prereleases 🎉

[2019-04-19 09:41] tcbegley commented on #142
There's now nothing blocking these updates, going to open individual issues for the remaining items.

[2019-04-19 09:41] #142 closed

[2019-04-19 09:51] tcbegley opened #184 "Support custom inputs"
Bootstrap and reactstrap have custom input components, see for example [the reactstrap documentation](https://reactstrap.github.io/components/form/#Custom-Inputs). These are inputs that don't use the native browser form elements like radio buttons, but instead render custom elements using CSS.

In our case, it would be most relevant to `Checklist`, `RadioItems`, `Checkbox` and `RadioButton`. The f

[2019-04-19 09:53] tcbegley opened #185 "Add Toast component"
Add support for Toasts:

[Bootstrap docs](https://getbootstrap.com/docs/4.3/components/toasts/)
[reactstrap docs](https://reactstrap.github.io/components/toasts/)

[2019-04-19 09:55] tcbegley commented on #65
Reopening this, as with the release of Dash 0.41.0, individual issues for outstanding changes for React 16 make more sense than tracking everything through #142

[2019-04-22 09:21] tcbegley opened #187 "CardTitle, CardSubtitle fix"
In the old version of reactstrap we were using, `CardTitle` and `CardSubtitle` were rendered with `h5` and `h6` tags by default. In newer version the [defaults were changed](https://github.com/reactstrap/reactstrap/pull/1298) to `div`, so the components currently only modify `margin-bottom`. This can be overwritten using the `tag` prop, e.g.

[code]

but it's not very idiomatic to Dash I think.

T

[2019-04-23 09:31] algerjiang opened #188 "0.5.0 update for Anaconda"
I'm working with Anaconda,  after searched in anaconda site,  it shows that the last update is  0.3.1:
https://anaconda.org/search?q=dash-bootstrap-components,
It's a cumbersome for people to transfer pypi pkgs to conda pkgs,
I think that'll be really appreciated if you people update dbc component in conda pkg regularly or after some major changed has been made.

thanks :)

[2019-04-23 09:33] tcbegley commented on #188
Hi @algerjiang

That wasn't actually created by us, I think someone made it for their own personal use?

In any case, I agree that it would be good if we started publishing to conda. I'll see if we can get it added to our release pipeline.

Thanks for raising.

[2019-04-23 10:07] algerjiang commented on #188
Thanks for your quick reply!

Yes, I checked the author name, it's obviously updated by some other good people.
well, it shows that there are actual many needs to get the dbc via anaconda channel.. :)

Looking forward to get official adc component in anaconda channel.

BTW: The abc component is really cool. In past weeks I've struggled to implement some web layout features in my dash apps, until I

[2019-04-26 02:27] happyshows commented on #142
@tcbegley #136 is also closed, just want to highlight the visibility.

Also, regarding the toggle, is it possible to add below as well
https://getbootstrap.com/docs/4.0/components/buttons/#toggle-states
[code]

[2019-04-26 07:57] tcbegley commented on #142
Hey @happyshows

The toggle switches are being tracked under #184 now, it will be part of a bigger effort to support custom inputs.

As far as I can tell, the `data-toggle` attribute isn't supported by reactstrap, which is what we've build *dash-bootstrap-components* on top of. We might be able build in support for this ourselves, though for now you could achieve the same sort of thing by writing

[2019-04-27 07:15] tcbegley commented on #180
This appears to have been fixed by [this change](https://github.com/plotly/dash-renderer/pull/166) to *dash-renderer*.

@jchang10 could you try updating to the latest version of *dash* (0.42.0) and *dash-renderer* (0.23.0) and see if that resolves the issue for you too? If so, I'll close this issue.

[2019-04-27 14:18] happyshows opened #190 "Add auto_dismiss function in alert"
Hi,

I was looking for some features like shiny notification (https://shiny.rstudio.com/articles/notifications.html)

Which will dismiss msg after the duration is over. Is it possible to implement in this package?

[2019-04-28 08:17] tcbegley commented on #190
Thanks for the suggestion. I'll investigate how this is implemented in RShiny and whether we could do something similar.

It may be that [toasts](https://getbootstrap.com/docs/4.3/components/toasts/#basic) which we haven't added yet would be the best components on which to build something like this.

[2019-04-29 08:03] tcbegley commented on #180
Closing as this was resolved by [a bug-fix](https://github.com/plotly/dash-renderer/pull/166) to *dash-renderer*

[2019-04-29 08:03] #180 closed

[2019-04-30 07:49] martinbaste opened #191 "Suggestion: Select"
I'd like to add a suggestion to support Bootstrap's [select](https://getbootstrap.com/docs/4.3/components/forms/) in forms.

I wanted to use it in an dbc.InputGroup element but noticed that there is no dbc.Select element.

It is not really urgent as it can be created using html elements with the proper class:

[code]

[2019-04-30 07:57] tcbegley commented on #191
Thanks for the suggestion @martinbaste. Happy to look into this. I guess ideally the currently selected value would be available as a prop so it can be used in callbacks? How are you currently retrieving that? Are you using the underlying Flask server to handle the form?

[2019-04-30 08:22] martinbaste commented on #191
hm I hadn't gotten that far actually. But ideally the selected value would be available as a prop for a callback, yes. Any suggestions on capturing this in the meantime?

[2019-04-30 08:27] tcbegley commented on #191
I haven't tried this, but `html.Option` does have an `n_clicks` prop, so you might be able to use that to work out which option in the dropdown was selected. If you go down that route I recommend using `dash.callback_context`, which you can read about [here](https://dash.plot.ly/faqs) under the "How do I determine which Input has changed?" section.

[2019-04-30 08:43] vnijs opened #192 "Use react-bootstrap?"
FYI: React Bootstrap, The most popular front-end framework Rebuilt for React.

https://github.com/react-bootstrap/react-bootstrap

[2019-04-30 08:51] tcbegley commented on #192
Thanks @vnijs. We are aware of this. The reason we chose reactstrap was that when we started the project react-bootstrap only supported Bootstrap v3.

I think at this point we're pretty invested in reactstrap, so I don't think we'd switch out the underlying library unless there is a compelling reason to do so. Are there any good reasons to make the switch you have in mind?

[2019-04-30 09:30] vnijs commented on #192
Just an FYI ...

[2019-04-30 09:30] #192 closed

[2019-04-30 10:55] martinbaste commented on #191
Thanks @tcbegley. I ended up using a dash-core-components Dropdown and modifying its appearance manually with CSS. I'll leave the CSS here in case anyone else is interested.

[code]

[code]

[2019-05-01 01:35] happyshows commented on #137
@tcbegley Since the loading component is officially out, could you create a minimal example on how to load a large csv file / downloading a file utilizing progress bar? Thanks

[2019-05-01 20:11] garvit184 opened #195 "current active_tab not in focus when returned from a callback"
When setting active_tab through a callback, the active_tab does not come in focus even though its content gets rendered.

In the below example I am trying to set active_tab based on the URL. The content for Tab2 are displayed but the selected tab is still Tab1.

[code]

![image](https://user-images.githubusercontent.com/22569245/57039670-1f309700-6c12-11e9-9248-5c82afd886f1.png)

[2019-05-01 20:46] tcbegley commented on #195
Hey @garvit184, thanks for raising this and the reproducible example.

This is something I've observed before, I don't know exactly what the problem is, but it's to do with React trying to be efficient and only re-render what it needs to. In this case it seems to get it wrong and not re-render the tabs when the page is switched.

You can fix it by changing the `key` prop of the `Tabs` component ea

[2019-05-01 20:58] garvit184 commented on #195
@tcbegley Thanks, that fixed it.
Great work btw.

[2019-05-02 15:31] aditya00j opened #198 "Help with using the spinner"
Hi,
Sorry for using GitHub issues to ask a newbie question, but I couldn't find another contact info to get in touch. First of all thanks to all the developers for dbc, they have been immensely useful for me to provide a consistent user experience for our Dash apps.

I am a novice in HTML/CSS/Javascript programming, so I tend to focus on finding pythonic ways to implement all the functionality in

[2019-05-02 16:18] tcbegley commented on #198
Hi @aditya00j, really glad you're enjoying *dash-bootstrap-components*

At the moment it is a bit hard to use the `Spinner`. I would recommend you look at the `Loading` component in *dash-core-components*, see the docs [here](https://dash.plot.ly/dash-core-components/loading_component). We are planning to provide our own version of this that uses Bootstrap spinners.

You can do something manually

[2019-05-02 18:45] aditya00j commented on #198
Hi,
Thanks for your reply! The Loading component was my backup, I just wanted to use the bootstrap components as much as possible. A similar functionality with spinner would be a very useful feature to add!

[2019-05-02 18:45] #198 closed

[2019-05-03 11:05] #195 closed

[2019-05-10 19:16] tcbegley commented on #65
Closed by #196

[2019-05-10 19:16] #65 closed

[2019-05-10 20:38] tcbegley commented on #187
Resolved by #193, documentation updated in #194

[2019-05-10 20:38] #187 closed

[2019-05-10 20:39] tcbegley commented on #112
Now that #197 has been merged, the protection can be reinstated.

[2019-05-11 15:06] romainmartinez opened #203 "Support stretch"
Hey @tcbegley and thank you for this awesome package!

I have the following container:

[code]
And I am looking to make every `Col` element the same height as the maximal height. I am quite new to bootstrap and web dev, but it seems that's the purpose of the `align-items` option set to `stretch`. However, `dbc.Row` supports only `'start', 'center', 'end'`.

![align-items svg](https://user-images.g

[2019-05-11 21:29] tcbegley commented on #203
Hey @romainmartinez, thanks for raising this.

I actually hadn't noticed Bootstrap supports this because it's not in [the documentation](https://getbootstrap.com/docs/4.3/layout/grid/#vertical-alignment) (at least, as far as I can tell?). I've just submitted PR #204 to add support for this, and made a prerelease for testing the changes. I've tested it out at my end, would you mind testing it out t

[2019-05-12 02:37] romainmartinez commented on #203
Thanks for the quick update.

I tested you pre-release, and it seems to work fine as the `dbc.Col` elements from my previous snippet have the same height. However, the element _inside_ the `dbc.Col` did not scale up. In my case, I have a bunch of `dbc.Card`:

[code]
And I would like those cards to be the same height (as in the `stretch` image from my previous post). Do you have any idea on how to

[2019-05-12 07:37] tcbegley commented on #203
I think you'll have to set height to 100% on the Card. You can use the Bootstrap utility class `h-100` to do this, see [here](https://getbootstrap.com/docs/4.3/utilities/sizing/#relative-to-the-parent) for more details.

Or if you prefer, set it with `style` or some custom CSS of your own.  For example if every time you set `align="stretch"` on a `Row` you want all the cards to be full height you

[2019-05-12 22:16] romainmartinez commented on #203
Oh makes sense! Thanks.

I'll let you close the issue. How can I be notified when the new documentation is updated?

[2019-05-13 05:41] tcbegley commented on #203
Keep a lookout for a pull request called something like “layout documentation”. I’ll try to remember to tag you also.

[2019-05-13 05:41] #203 closed

[2019-05-14 22:05] tcbegley commented on #178
Closed by #205

[2019-05-14 22:05] #178 closed

[2019-05-16 13:23] ZeCarlosCoutinho opened #207 "Input Max and Min keywords not working"
Even if in the docs it says that the Input component has _max_ and _min_ keywords, I still get a TypeError.

![image](https://user-images.githubusercontent.com/15149259/57856880-3664ac80-77ee-11e9-89b4-5b4ec5795be2.png)

The code is:
[code]

[2019-05-16 13:27] tcbegley commented on #207
Hey @ZeCarlosCoutinho

Thanks for reporting, I ran your code snippet successfully. Could you check which version of *dash-bootstrap-components* you are using?

[code]

[2019-05-16 13:57] ZeCarlosCoutinho commented on #207
Oh, sorry. Should have checked the version before.
I'm using version 0.3.6, that's why.

[2019-05-16 13:57] #207 closed

[2019-05-20 09:48] jfrank87 opened #210 "Support request: HowTo Form submit"
Dear community,

I'm not sure if this is the right place to ask for support, if not, my apologies.
I'm quite new at designing apps (with Dash), so my question may be a straightforward one..

I created a form using components from the Dash bootstrap components library. I want to retrieve the data from the filled out form (form submit). I'm not sure how to achieve this. I could not find an example i

[2019-05-20 10:05] tcbegley commented on #210
Hi @jfrank87

I tried the *dash-core-components* example you linked to, replacing *dash-core-components* with *dash-bootstrap-components* and it seemed to work. Could you post a code snippet that demonstrates the problem you're having, and explain how the behaviour differs from what you expect?

[2019-05-20 10:17] jfrank87 commented on #210
@tcbegley Thanks for the fast response! I',m sorry, I messed up, everything is working fine. I only provided id attribute and forgot the name attribute for every component. I need more sleep. Apologies, this issue can be closed/removed.

[2019-05-20 10:17] #210 closed

[2019-05-20 10:18] tcbegley commented on #210
No worries, glad it's working 🙂

[2019-05-23 15:35] eliasdabbas opened #211 "Graph under inactive dbc.Tab occupies half the container size"
Hello,

I have two tabs with a `dcc.Graph` in each.
The active tab shows the graph properly, but the inactive tab shows it in half-size. It needs resetting of axes. There is no way the end user is going to figure this out, and the second graph is not easy to use therefore.

Here is a minimal example showing the first graph occupying the full container width, while the second only half of it:

[cod

[2019-05-23 15:59] tcbegley commented on #211
Hey @eliasdabbas

The reason this happens is because `dbc.Tabs` uses `<div>` elements under the hood with `display` set to `none` to hide inactive tabs. While a Plotly graph is inside a hidden `<div>` it is unable to determine the width of the parent container, and so it defaults to some fixed width. You can read more about that [here](https://community.plot.ly/t/plotly-resize-bug-using-html-detai

[2019-05-23 16:54] eliasdabbas commented on #211
Got it. Thanks for sharing the links!
I'll see how best to implement in my case.

I also found out that when going to the inactive tab and double clicking the chart area (or clicking the 'reset axes' button) the chart takes the full container width and behaves as expected.

The solution would be simple and straightforward if there was a way to initialize the `dcc.Graph` with the 'reset axes' butto

[2019-05-23 17:21] tcbegley commented on #211
The problem is that the `Graph` is initialized inside a hidden container so at initialization time resetting the axes won't help. You need to trigger a redraw when the tab is changed, and the easiest way is to render tab content dynamically.

I think the underlying problem is hard to fix, see [here](https://github.com/plotly/plotly.js/issues/2769) for example.

[2019-05-23 20:13] eliasdabbas commented on #211
I see. Thanks. Setting the width by pixels might also be a good idea as mentioned in the link you shared. Actually, it works for my specific case.

Good to know that this is a known issue, and keep in mind in similar cases.

Thanks again!

[2019-05-23 20:13] #211 closed

[2019-05-26 15:22] jfrank87 opened #212 "Switching tabs on button click"
Dear community,

Once again, thank you for the great work on this software!

I am building an app that contains several tabs.
I want to include a button that on click will activate another tab.
The documentation contains hints on how to go about this, but unfortunately I can't get it to work. I provided a stripped-down example below.

[code]

The callback seems to work; the number of button clicks

[2019-05-31 20:28] tcbegley commented on #212
Hi @jfrank87

Thanks for reporting, and sorry for being slow to respond to you. I don't think you're missing anything, the `Tabs` component will set the `active_tab` prop when a different tab is selected, but not vice versa. I think it should be possible to change that, then your code snippet should work as you expected it to.

[2019-06-01 20:00] tcbegley commented on #212
Hey @jfrank87

I just opened #213 to address this. You can try out the changes by installing the prerelease:

[code]

If you have a chance to test it out and let me know how you get on that would be much appreciated. It's working at my end, with a few minor changes to your code:
1) You need to specify `tab_id` rather than `id` for each of the `Tab` components.
2) Set `active_tab` of the `Tabs` com

[2019-06-03 07:55] jfrank87 commented on #212
Hey @tcbegley

Thanks for the _quick_ response. Awesome you've already found the time to implemented this functionality! I did some testing and can confirm the tabs are now switching following a button click. Nice!

A minor detail: when switching from tab N to tab N+1, tab N+1 is shown at the same scrolling position as tab N. If for example someone scrolls to the bottom of a long page and switches

[2019-06-03 08:07] tcbegley commented on #212
Oh good catch, I think the docstring is just wrong. Should be something like:

I'll add that as a change to the pull request.

[2019-06-03 16:27] tcbegley commented on #212
Hey @jfrank87

I managed to recreate the scrolling issue you describe. The issue is React trying to be smart and preserve details when rendering the different tab contents. You can fix it by setting the `key` of the tab content container when the tabs are switched, which effectively tells React to completely re-render that component.

Here's a rough example, let me know if it doesn't make sense:

[2019-06-05 12:54] #112 closed

[2019-06-05 22:15] tcbegley commented on #212
This is now available in version 0.6.2.

@jfrank87 give me a shout if you have further issues with the scrolling, but I'm going to close this for now.

[2019-06-05 22:15] #212 closed

[2019-06-07 06:28] tcbegley commented on #188
Just a bit of an update on this. In order to build packages for anaconda, it's necessary that all dependencies are available through anaconda too. Unfortunately it seems that while Plotly has uploaded Dash to anaconda in the past, it's not being kept up to date (last version uploaded was Dash 0.39.0, we're now on 0.43.0, with some pretty major changes in between).

Until Dash is being kept up to d

[2019-06-07 06:31] tcbegley commented on #188
Ignore my previous comment, looks like Dash is now hosted on the conda-forge channel which is why they stopped updating the version on the plotly channel. Looking in to this at the moment. Sorry it's taken a while to get around to it.

[2019-06-07 06:49] holtgrewe commented on #188
@tcbegley Hm, maybe ask on gittr in the conda-forge how that works :)

[2019-06-07 07:25] tcbegley commented on #188
Well as far as I understand it’s all very automated, so If there is nothing to do then great, but wanted to offer our support in case I am incorrect about that

In any case, thanks for adding the package to conda-forge in the first place :)

[2019-06-07 07:33] holtgrewe commented on #188
@tcbegley Maybe the way to go is to add yourself to the maintainer list via a PR in the corresponding feedstock repository. Or rather just replace me :)

Anyway, thanks for dbc, excellent work!

[2019-06-09 12:10] tcbegley commented on #188
I just merged #218 which adds installation instructions for conda to the readme and the docs, so I'll close this now.

[2019-06-09 12:10] #188 closed

[2019-06-10 23:19] eloiup opened #219 "dcc graph width within container/col"
Hi,

I am trying to set up an app with the following layout:

header
-----------
txt |  graph (mapbox)

If I leave the default parameters, the graph wont occupy 100% of its designated area
Image of results:

![image](https://user-images.githubusercontent.com/20978596/59233032-307ba480-8bbd-11e9-8726-2f13c9dbe783.png)

I tried fiddling with the width parameter within a dbc.col

The documentation gi

[2019-06-10 23:32] eloiup commented on #219
setting container.fluid = True helps filling the rest of the page. but the graph area is still has paddings on left/right by default.

[2019-06-11 00:04] eloiup opened #220 "dropdown color"
theres no color parameter for the dbc.dropdown

i tried changing it through the style parameter

tried both hex color code and "primary". neither worked.

How can one change the color of the dropdown menu?
Is it possible to make it a dbc.dropdown parameter?

ty

[2019-06-11 00:42] eloiup commented on #219
nvm. i am a moron. had a margin on the image and didnt realize it.

[2019-06-11 00:42] #219 closed

[2019-06-11 07:09] tcbegley commented on #220
Hey @eloiup

Thanks for raising this and good spot. I'll make sure this gets added.

[2019-06-11 08:29] tcbegley commented on #220
I've opened #221 to address this.

You can try it out by installing [the corresponding prerelease](https://pypi.org/project/dash-bootstrap-components/0.6.3rc1/):

[code]

here's a simple example

[code]

This will make its way into the next full release.

[2019-06-14 13:14] rolb opened #222 "Suggestion: RadioItems individual label styles"
Hi,

First of all I'd like to thank you for creating this! Only just discovered this thanks to a suggestion on the plotly forums.

So I'd like to reproduce the following:
https://codepen.io/anon/pen/Bgozdj

The radio buttons or inputs are not displayed, I'm just using labels.

I'm currently using some hacky JS to achieve that result. I know almost no JS, so I was hoping to achieve this purely thro

[2019-06-15 07:14] tcbegley commented on #222
Hey @rolb, thanks for the suggestion.

I'll have a look at what we can do here. We have an open issue to support Bootstrap's custom inputs (#184) which may also help with this sort of thing, but I'll play around with your suggestions and see how it goes.

The specific thing you are trying to do though, you could already achieve with `dbc.ButtonGroup` and a callback. Check out the below example whi

[2019-06-15 08:52] rolb commented on #222
Thanks so much @tcbegley! Played around with it and all looks good. I guess I'll need more Inputs then but that's a small compromise.

Also good to know that multiple Outputs are now supported, wasn't aware of that.

[2019-06-18 12:35] eloiup commented on #220
thx!

[2019-06-18 12:41] eloiup commented on #220
if i make the dropdown a stand alone comp it works!
if i add it to a navbar, it doesnt!
am i doing something wrong or is it a bug?

`navbar = dbc.NavbarSimple(
    children=[
        dbc.DropdownMenu(
            children=[
                dbc.DropdownMenuItem("item_1", href="/1"),
                dbc.DropdownMenuItem("item_2", href="/2"),
            ],
            nav=True,
            in_navbar

[2019-06-18 16:11] tcbegley commented on #220
The `color` prop is just applying the `btn-{color}` CSS class to the dropdown toggle. When your dropdown is in a navbar this class has no effect.

You'll notice however that the font color in your example has been set to black as specified in `toggle_style`. You can set additional styles inline or apply a custom class with `toggleClassName`. For example, in your code above, setting

[code]

gives

[2019-06-26 13:18] LePuppy opened #223 "pip install error"
Hi,
I've just heard about dash boostrap components and tried to install it on my virtual environment using pip:
`pip install dash-boostrap-components`

returning the following error:

ERROR: Could not find a version that satisfies the requirement dash-boostrap-components (from versions: none)
ERROR: No matching distribution found for dash-boostrap-components

[2019-06-26 14:11] tcbegley commented on #223
Hi @LePuppy

You are missing a "t" in boo*t*strap

[code]

should work 🙂

[2019-06-26 20:58] renxida opened #224 "Format for ints like float_format"
I like my large integrs in the format
123,456,789

Currently, I don't see a way to do so in the documentation.

Is there a way I could accomplish? If not, would it be a worthwhile thing to implement?

[2019-06-26 20:58] renxida commented on #224
And sometimes I want my ints in the format
1,2345,6789

Would it be hard to do that too?

[2019-06-26 21:19] tcbegley commented on #224
Hey @renxida

Do you mean for a particular component? How would you like to use this?

You can use Python string formatting to add commas to an integer. For example, using [Python's format specification mini-language](https://docs.python.org/3.7/library/string.html#formatspec) with an f-string.

[code]
[code]

You should be able to use this to build the content you want for your components. I don'

[2019-06-27 07:39] LePuppy commented on #223
I'm sorry I actually managed to mistype it in the issue ! Because I did tried with the correct syntax as well (just checked it a minute ago):

**ERROR: Could not find a version that satisfies the requirement dash-bootstrap-components (from versions: none)
ERROR: No matching distribution found for dash-bootstrap-components**

Could it be connected to the fact it's a virtual environment and I'm unde

[2019-06-27 08:23] tcbegley commented on #223
Hmm, the virtual environment probably shouldn't be causing a problem. What are you using to create the virtual environment?

Your company's proxy seems like a more likely explanation, though if you can install other packages from PyPI using pip I don't really see why you wouldn't be able to install dash-bootstrap-components. Do other packages work? E.g. do you get the same error when running `pip

[2019-06-27 08:43] LePuppy commented on #223
I created the virtual environment using conda.

`conda install`  worked, Thank you !

[2019-06-27 08:43] #223 closed

[2019-06-27 22:10] tcbegley commented on #220
I've now merged #221 and released as 0.6.3 so I am going to close this. If the answer above didn't fully address your follow-up question feel free to reopen it.

[2019-06-27 22:10] #220 closed

[2019-06-28 21:55] kbrostrom opened #231 "toggleClassName and toggle_style no longer working in DropdownMenu"
I'm trying to create a dropdown menu from my navbar in my dash app with a custom style for my Dropdown toggle. It no longer accepts toggleClassName or toggle_style as options to change the format.

[2019-06-29 07:59] tcbegley commented on #231
Hi @kbrostrom

Can you verify you're using version 0.6.3 of _dash-bootstrap-components_?

[code]

If you are and you're still having issues could you post a code snippet that reproduces the error?

[2019-07-02 14:02] vivekvs1 commented on #185
Hi! It would be awesome to have support for Toasts. Is it something planned for the future?
I use the dash-bootstrap-components for every project of mine now. The web-pages turn out refined looking and feel fantastic, with minimal efforts! So than you very much!

[2019-07-02 18:04] tcbegley commented on #185
Hey @vivekvs1

Glad you're enjoying _dash-bootstrap-components_ so much 🙂

This is definitely something we want to add, we just haven't got around to it yet. Since you showed interest in it I'll bump it up the list of priorities and see how hard it is to include.

[2019-07-02 18:05] vivekvs1 commented on #185
Thanks! You are the best!

[2019-07-04 20:26] happyshows commented on #222
Up, would love to see a neat implementation other than the button group with multi output approach...

[2019-07-09 13:08] arthurdelaitre opened #232 "Files not found during install"
Hello,
I've tried to build the package after clonning it to my computer, but the builds fails to find some dependancies. Here are the prints :
[code]

It seems dash_bootstrap_components.min.js and metadata.json can't be located. When I install the package using conda, I get the same problem after using pyinstaller to make an exe (those files can't be located and result in the exe to crash).

Does

[2019-07-10 08:13] tcbegley commented on #232
Hi @arthurdelaitre

There are a number of Python and javascript files that are generated from the javascript source in this repo that we don't keep under version control (since they are never directly edited by humans, but rather are essentially build artefacts).

You could build them yourself if you have `npm` installed by simply running `npm install`.

Failing that, if you installed _dash-bootst

[2019-07-10 20:44] bo-sfl opened #233 "The collapse component doesn't work, automatic unfold itself"
I had this problem when reproducing the `Simple example` for `collapse` in the doc, the collapse component will hide but immediate show up again.  The `Multiple targets` and `Accordion` were fine.
I have `dash-bootstrap-components 0.6.3` and `dash 1.0.0`.
A example:
[code]

[2019-07-10 22:40] tcbegley commented on #233
Hey @bo-sfl,

Thanks for reporting. I just tried running your code snippet with Dash 1.0.0 and dash-bootstrap-components 0.6.3 and it seemed to work ok for me, see below gif.

![dbc](https://user-images.githubusercontent.com/15220906/61009833-f80de880-a36b-11e9-949f-c1ae206ef070.gif)

Are you seeing different behaviour to this?

[2019-07-11 00:13] bo-sfl commented on #233
This is behavior on my side.  @tcbegley
![captured](https://user-images.githubusercontent.com/49077071/61013031-07cb0400-a34f-11e9-8e8f-cd6e0bf94763.gif)

[2019-07-11 05:28] tcbegley commented on #233
Hmm, that's strange... Which browser / OS are you using?

Does the interactive example the documentation app work for you? https://dash-bootstrap-components.opensource.faculty.ai/l/components/collapse

Does anything get output to the terminal / browser logs?

From your gif it looks like the transition works ok, but the collapse content isn't hidden correctly. During the transition the `collapsing`

[2019-07-11 09:06] tcbegley commented on #231
Closing due to no response. Feel free to reopen if you are still having issues.

[2019-07-11 09:06] #231 closed

[2019-07-11 09:07] tcbegley commented on #224
Closing due to no response, and because this doesn’t seem like an issue with dash-bootstrap-components. Feel free to reopen if you have further questions.

[2019-07-11 09:07] #224 closed

[2019-07-11 11:29] arthurdelaitre commented on #232
Hi @tcbegley

Thanks for your response. I resolved the PyInstaller issue by providing PyInstaller with a additional hook file. So now I can use the version installed by conda.

It's working great, thanks !

[2019-07-11 11:29] #232 closed

[2019-07-13 10:42] tcbegley commented on #185
@vivekvs1 I just opened #234 to add toasts and have made a [prerelease](https://pypi.org/project/dash-bootstrap-components/0.7.0rc1/) that includes them, you can install with

[code]

If you have a chance to test it out and let me know what you think that would be much appreciated!

[2019-07-16 22:34] bo-sfl commented on #233
Hi @tcbegley.

I'm using Chrome on Windows. The Collapse worked as expected with the inspector open. I also built a fresh env and that also works. So far I wasn't able to find the root cause to this.

[2019-07-17 07:05] tcbegley commented on #233
Hmm, that's really strange. I'm glad you managed to get things working. I'll close this for now, but if it breaks again in the future feel free to reopen.

[2019-07-17 07:05] #233 closed

[2019-07-18 13:31] Adrast opened #237 "Mark table row"
Is there an way to click and mark a row of a table? It's possible to do it with dash table, but they have an ugly pink color to the cell clicked.

[2019-07-18 15:53] tcbegley commented on #237
Hey @Adrast

You can't easily do this with our table since it's just a simple HTML table.

You can write some custom CSS to override the default pink colour of dash-table though. For example I just modified the simplest dash table example as follows:

[code]

[code]

[code]

which gives me this sort of thing:

![image](https://user-images.githubusercontent.com/15220906/61472473-69f1bd80-a97c-11e9-

[2019-07-19 11:54] tcbegley commented on #222
Hey @rolb  and @happyshows

Check out #238, I'm working on bringing custom radios and checkboxes to _dash-bootstrap-components_

You can try out the prerelease if you like

[code]

I was able to use the new `RadioItems` component to recreate the above codepen example:

[code]

[code]

Which gives me this:

![giphy](https://user-images.githubusercontent.com/15220906/61533269-441ff380-aa24-11e9-9674

[2019-07-20 13:28] happyshows commented on #222
I like this update. Two more suggestions:
1) simplify the css piece just like in button class, you can choose primary / secondary etc.
2) add the "outline" style, when a button selected, highlight the border, if not selected, the border will be near transparent.

Also, how do I get the toggle-able radio button? I couldn't find example code in the custom-input branch.

[2019-07-21 19:07] Adrast commented on #237
What version of dash/dash_table do you use. I can't seem to get your example to work. it doesn't change the colour of the selected cell.

[2019-07-22 20:38] Adrast commented on #237
Wow, thanks! It works when I update the style.css file, but then changes back to hotpink on page reload. what am I missing out? btw do you know how to totally remove the selection when clicked on cell?

[2019-07-24 08:01] rolb commented on #222
Awesome! `labelCheckedClassName` and `labelCheckedStyle` are exactly the kinda thing I was hoping for. Thanks @tcbegley.

As much as I'd love to test it out, I don't think I'll have enough time (work-related, for a dashboard). This implementation will **definitely** clean up my code significantly though.

[2019-07-24 08:11] tcbegley commented on #237
Hey @Adrast,

The first issue is probably because the `dash-table` CSS and your custom CSS have the same level of specificity, in which case the style that gets applied is whichever is defined second. Possibly reloading the page causes the custom CSS and the `dash-table` CSS to get loaded in a different order and hence change which style is applied. If this is the problem, you can fix it simply by

[2019-07-25 07:29] tcbegley commented on #222
Thanks both for the feedback.

Bootstrap uses checkboxes for the switches, which is why it's only available through the `Checklist` component. I could add switches for `RadioItems` too, but I'm not really sure how much sense that makes semantically? Each time you toggle a switch it would turn off an existing one which seems like weird behaviour. When I see several switches like that I sort of expe

[2019-07-25 09:12] tcbegley commented on #222
This is now available in version 0.7.0

[2019-07-25 09:12] #222 closed

[2019-07-25 09:13] tcbegley commented on #185
Resolved by #234, available in 0.7.0

[2019-07-25 09:13] #185 closed

[2019-07-25 09:17] tcbegley commented on #184
Resolved by #238

[2019-07-25 09:17] #184 closed

[2019-07-30 14:36] CaseGuide commented on #137
@tcbegley I would also really like an example. We're having this exact problem.

[2019-07-30 15:03] happyshows commented on #150
If it's your interest and really quick, sure why not.

Just my 2 cents, In R space, shiny is way more powerful than dashR (which focus on viz graph primarily) and has support on plotly already. I don't see dashr is going to play well honestly...

[2019-07-30 17:22] Awrad-Emad commented on #137
@chriddyp I would appreciate if you can provide an example as I have a similar problem.

[2019-07-30 18:08] happyshows commented on #222
@tcbegley could you also update the tutorial site by providing some code example and output?

[2019-07-30 18:55] tcbegley commented on #222
@happyshows I already updated the documentation [here](https://dash-bootstrap-components.opensource.faculty.ai/l/components/input)

[2019-07-30 19:02] happyshows commented on #222
ah, my bad, thanks for the effort!

[2019-07-31 20:33] tcbegley commented on #137
Since there's clearly a lot of interest in this I'll prioritise coming up with a clean example demonstrating how this can be done.

[2019-08-01 02:27] happyshows commented on #222
just FYI,

I ended up adopting below style for the button group style of radio
[code]

[2019-08-01 03:20] happyshows opened #241 "Further enhancement on Radiobutton"
Firstly, thanks for implementing #222 .

I feel the feature could be more useful if icons / custom images are allowed. Sometime we need image only radio options, sometimes we need image + text.

[2019-08-01 05:52] tcbegley commented on #241
Hey @happyshows,

Thanks for raising this. Could you give an example of what you mean? I’ll look into whether I can either extend the functionality of the component or provide more examples.

[2019-08-01 12:03] CaseGuide commented on #137
Hooray! @tcbegley

[2019-08-01 18:31] happyshows commented on #241
sure, [this](http://jsfiddle.net/La8wQ/10/) [that, ignore the fancy transformation piece](https://codepen.io/DavidBradbury/pen/HuCqx)

[2019-08-02 12:32] tcbegley commented on #241
Cool thanks. I'll take a look at how best to do this with _dash-bootstrap-components_. It's very likely we won't support this entirely natively through the components, since the focus of the library is providing functionality of Bootstrap, however I will at least try to provide some examples for how you can achieve this kind of thing, and extend the components to make it easier if necessary.

[2019-08-06 16:15] jdb78 opened #242 "Custom style for Checkbox and Radiobutton"
The new custom style for `Checklist` and `Radioitems` is fabulous (particularly the `switch=True` option). I am a big fan! Would it be possible to bring this functionality also to `Checkbox` and `Radiobutton`?

While this change would not really mean the functionality would improve, unnecessary workarounds / confusing code could be avoided.

[2019-08-06 17:22] tcbegley commented on #242
Hi @jdb78

Glad you are enjoying the update!

Good suggestion, I'll have a go at adding this. I think it's not totally straightforward which is why I didn't add it alongside the updates to `Checklist` and `RadioItems`, but it definitely makes sense that the custom styles are available for the other components too.

[2019-08-06 22:49] tcbegley commented on #137
I've created a self-contained example of this [here](https://github.com/tcbegley/dash-rq-demo). Since it requires some backend infrastructure I decided to create a separate repo rather than put everything in the examples folder of this repo.

You can see the example deployed [here](https://dash-rq-demo.herokuapp.com/) (note I'm not paying for the deployment, so the limited resources might mean it

[2019-08-07 07:29] MUBTAAB opened #243 "dash-table dropdown cells"
Hi!
I realized that using bootstrap css breaks the [dash-table dropdown cells](https://dash.plot.ly/datatable/dropdowns).
The issue can easily be resolved by adding this line to the end of the css:
[code]

[2019-08-07 08:33] tcbegley commented on #243
Thanks for reporting. Since we don't maintain Bootstrap CSS, we just use it to style components, I don't think there's much we can do to fix this, sorry. The fix likely has to come from dash-table itself.

I would recommend you raise this on the [dash-table repo](https://github.com/plotly/dash-table) in case they can better diagnose and fix the problem, and maybe also post your solution on [this P

[2019-08-07 12:10] MUBTAAB commented on #243
Hi,
Sadly the issue with the workaround was already posted [here](https://github.com/plotly/dash-table/issues/221) and the Dash team already closed it since "a css based solution was found".

[2019-08-07 19:04] CaseGuide commented on #137
Thank you, this looks perfect. Added integrating a progress bar to our next sprint. @tcbegley

[2019-08-21 16:56] happyshows opened #245 "badge accept but does not apply style"
Please check...

[2019-08-21 19:30] tcbegley commented on #245
I'm not quite sure what you mean?

[2019-08-21 19:34] happyshows commented on #245
I can put whatever style into the dbc.Badge() but when rendering, these style get ignored...

[2019-08-22 07:37] tcbegley commented on #245
Ah ok, understood.

I tried the following example and things worked as expected:

[code]

![image](https://user-images.githubusercontent.com/15220906/63495550-0b0def80-c4b8-11e9-9819-3c1295f92cc2.png)

Could you share an example demonstrating the issue you you're having?

[2019-08-23 17:54] happyshows commented on #245
I'll dig up my code later and get back to you on this, was really frustrated on why it's not working :(

[2019-08-23 18:28] ritviknv opened #246 "callbacks don't work with DBC checklist component bc of misnamed parameter"
I could be wrong, but it appears that the `value` parameter in the DCC checklist component is specified as `values` (plural) in DBC. This inhibits one from using callbacks. The documentation [here](https://dash-bootstrap-components.opensource.faculty.ai/l/components/input) seems incorrect. Examples:
[code]

[code]
The latter will generate the following error (prompting you to use `values` instead:

[2019-08-23 19:59] tcbegley commented on #246
Hi @ritviknv

Could you check which version of _dash-bootstrap-components_ you have installed?

[code]

We changed `values` to `value` in version 0.7.0 since _dash-core-components_ made the same change in version `1.0.0`. You might just have an older version of _dash-bootstrap-components_?

[2019-08-23 20:02] ritviknv commented on #246
Ah good catch, I was on 0.6.3. Thanks!

[2019-08-23 20:09] tcbegley commented on #246
No worries

[2019-08-23 20:09] #246 closed

[2019-08-27 09:15] tcbegley commented on #190
Hey, I'm afraid not, I haven't had time to look at this. I'll try to prioritise it, but would also welcome contributions from anyone that wants to take a pass at it.

[2019-09-04 02:48] supunsandeeptha commented on #176
Can we use cell data as links with bootstrap table? @tcbegley

[2019-09-04 18:55] tcbegley commented on #176
Hey @supunsandeeptha

Sure you can. Here's an example:

[code]

In practice you may want to write a function that generates the table rather than hard code it like in this example. You might find it helpful to refer to our implementation of the `Table.from_dataframe` method [here](https://github.com/facultyai/dash-bootstrap-components/blob/master/dash_bootstrap_components/table.py#L4-L86)

[2019-09-04 19:05] tcbegley commented on #243
Closing this as it's a result of a clash between Bootstrap CSS and _dash-table_, neither of which we have the ability to change. Sorry we can't be more help.

[2019-09-04 19:05] #243 closed

[2019-09-04 19:06] tcbegley commented on #245
Any update on this @happyshows? I'm going to close this for now, but feel free to reopen if you find the example you were having trouble with and can reproduce it.

[2019-09-04 19:06] #245 closed

[2019-09-05 03:04] supunsandeeptha commented on #176
Thanks for the reply @tcbegley . I was able to generate links using my code. Please have a look at the code below, but the problem is when I click on the link the browser is reloading. Do I need to use a button or can we stop reloading the browser? Your help regarding this issue is much appreciated
 `def generate_table(dataframe, max_rows=10):

    """Given dataframe, return template generated usi

[2019-09-05 06:17] tcbegley commented on #176
@supunsandeeptha, try using `doc.Link` rather than `html.A`. It modifies the url without reloading allowing you to simulate navigating between pages without actually reloading the page.

See my example above or [the Dash docs](https://dash.plot.ly/urls) for more details.

[2019-09-06 08:40] supunsandeeptha commented on #176
@tcbegley thank you for the response. I tried it kinda worked for me. but still the table refreshes but not the second area

[2019-09-06 10:17] tcbegley commented on #176
Is the table refreshing when you click the link or because you have an interval regenerating the table each time?

[2019-09-06 14:28] supunsandeeptha commented on #176
I have an interval set but doest it affect to reload on the click? when I click on the link?

[2019-09-06 14:56] tcbegley commented on #176
There could be some kind of nasty interaction between different parts of your app. I'd suggest posting over on the [Plotly Forum](https://community.plot.ly) and including a minimal working example that reproduces this issue. There are more people (myself included) that can help over there, and it's a bit easier to discuss than on GitHub's issue tracker. If you do post over there feel free to link

[2019-09-07 21:25] tcbegley commented on #191
I added a new `Select` component in #251 which is available in version 0.7.1 of _dash-bootstrap-components_. Sorry it took me so long to get around to it. You can see an example on the [Input section of the docs](https://dash-bootstrap-components.opensource.faculty.ai/l/components/input).

[2019-09-07 21:25] #191 closed

[2019-09-07 21:28] tcbegley commented on #190
This is available for both `Alert` and `Toast` in version 0.7.1 of _dash-bootstrap-components_. They each have a new `duration` prop through which you can supply a duration in milliseconds after which the `Alert` / `Toast` will dismiss. Check out the examples in the docs for `Alert` and `Toast`.

Sorry it took a while for me to get around to it.

[2019-09-07 21:28] #190 closed

[2019-09-08 17:37] tcbegley commented on #237
Closing this, but feel free to reopen if you're still having issues.

[2019-09-08 17:37] #237 closed

[2019-09-19 11:53] supunsandeeptha commented on #176
@tcbegley @pbugnion do you know how to apply table cell rules ? is it possible with dash. as an example table cell font is red if the value is lower than 50 and is green above 50

[2019-09-20 06:11] tcbegley commented on #176
Our `Table` component is really just a HTML table with some CSS classes applied. It doesn’t have any ability to understand the table contents or modify its appearance based on cell contents.

If you wanted to achieve this you would probably have to write a CSS class like

[code]

then during the construction of the table in Python, apply that class to the `Td` elements. Something like (untested)

[2019-09-27 17:59] vab2048 opened #256 "Responsive sidebar with toggle button"
The current example of responsive-sidebar creates a sidebar which becomes a navbar (with a toggle button) once it reaches a smaller size.

Is it possible to create a sidebar which behaves like this (responsive enough to become a navbar for a small screen) but also provides a toggle button for larger screens?

I am referring to something along the lines of number 2 here: https://bootstrapious.com/p

[2019-09-28 06:16] tcbegley commented on #256
Hey @vab2048,

Thanks for raising this. It certainly should be possible, I’ll try to add an example at some point.

Just to clarify, you’re happy for it to be a navbar on small screens. Just that on large screens the sidebar should also be toggleable?

[2019-09-28 06:17] tcbegley commented on #256
Sorry, didn’t mean to close

[2019-09-28 09:06] vab2048 commented on #256
Yes, that would be wonderful. Thank you very much.

[2019-10-02 03:32] tcbegley commented on #256
Hey @vab2048,

I came up with a first version of this and submitted it as part of #257. If you have a chance, could you check it out and let me know what you think? In particular let me know if it works ok and does what you would want it to.

[2019-10-02 09:28] vab2048 commented on #256
Wonderful!

This is exactly what I was after.

Thank you very much for creating this!

[2019-10-02 09:28] #256 closed

[2019-10-04 01:03] usser123 commented on #141
I am also having the issue with dcc.Dropdown height. I have been able to use optionHeight for setting the cell height. However the height of the Dropdown container itself has been really hard to set.

@mdylan2 did you manage to find out how to set the dcc.Dropdown height ?

[2019-10-11 08:34] supunsandeeptha commented on #176
@tcbegley Hi I need to get the value of a button when clicked. can we do that on the dash?

import dash
import dash_html_components as html
import dash_core_components as dcc

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.Div(dcc.Input(id='input-box', type='text')),
    h

[2019-10-11 14:05] tcbegley commented on #176
@supunsandeeptha

If I’ve understood the question correctly, you can just replace `html.Button` with `dbc.Button` and `dcc.Input` with `dbc.Input` in your example and it will work exactly the same.

Also, please use the [Plotly Forum](https://community.plot.ly/) or stack overflow for personal support requests like this. You can even tag me in your posts on the Plotly forum if you like, my username

[2019-10-12 08:35] TiemenSch opened #258 "How to set Button link for an InputGroup addon Button"
I was trying to set a link for a button that is used as an ``dbc.InputGroupAddon``. However, where you can usually wrap a ``dbc.Button`` with a ``html.A`` or ``dcc.Link`` to set the href, this currently breaks the button's styling as an actual addon as it is no longer a direct child of the ``dbc.InputGroupAddon``.

Any ideas on how to obtain the desired result being an Addon button with a href set

[2019-10-13 01:46] tcbegley commented on #258
Hey @TiemenSch

Thanks for raising this. I think the ideal solution would be if `Button` had a `href` prop which would allow you to use it like a link or `dcc.Link`. I'll look into adding that in the next release.

In the meantime, you could do what you appear to have maybe already tried, which is just apply the relevant Bootstrap classes to the `html.A` or `dcc.Link` element. Something like:

[co

[2019-10-14 08:18] TiemenSch commented on #258
I guess the suggestion of a href property for the Button class depends on what philosophy you want to follow with this package. I think it would make for a great convenience, but at the same time you will introduce deviations with respect to the regular HTML components' implementations. I have the feeling that these conveniences are slightly more common in this package than the relatively "vanilla

[2019-10-15 06:21] tcbegley commented on #258
Yeah, interesting point. I think I'm all for being consistent with _dash-html-components_ and _dash-core-components_ where there is shared functionality, but not restricting ourselves to only implementing the same functionality. In general when deciding what or what not to add it's probably more important to be consistent with Bootstrap itself. In this case it is quite natural to have [links style

[2019-10-15 06:36] tcbegley commented on #141
Hey @usser123,

Sorry for the slow response, I was travelling with limited internet access the last couple weeks.

Unfortunately what I've found looking into this is that it's really hard to change the height of the Dropdown, at least if you want to make it larger. The reason is that the Dropdown is powered by a component called [react-virtualized-select](https://github.com/bvaughn/react-virtualiz

[2019-10-15 07:37] TiemenSch commented on #258
I hear the alignment issue loud and clear! I still have http://howtocenterincss.com/ lurking on my bookmarks bar 🤡. Please let me know if I can help out in any way going forward! Happy to take things for a testdrive.

[2019-10-18 20:23] Dref360 opened #263 "Provide a CDN for dash_bootstrap_components.min.js"
Hi,
I really love your library!
Would it be possible to host
`dash_bootstrap_components/_components/dash_bootstrap_components.min.js` on a CDN somewhere?

Thank you!
Dref360

[2019-10-19 14:40] tcbegley commented on #263
Hey @Dref360,

Glad to hear it!

Thanks for raising this. We're planning on setting up a CDN for serving our own compiled versions of Bootstrap and Bootswatch that add support for some other Dash components, so happy to look into how we could also host the javascript bundle at the same time.

[2019-10-20 18:03] tcbegley commented on #141
I'm going to close this now, unfortunately there's not much we can do about the `dcc.Dropdown`  window height just with CSS. Any feature suggestions for that component are probably better directed at the _dash-core-components_ devs.

Any new issues with `DropdownMenu`, please do feel free to open up a new issue.

[2019-10-20 18:03] #141 closed

[2019-10-20 19:05] tcbegley commented on #258
@TiemenSch, I added `href` and `external_link` props to `Button`. So you can now use it like

[code]

you can try it out with

[code]

I've tested it with `InputGroup` and `ButtonGroup` and all seems well, but if you could try it out and let me know how you get on that would be very helpful!

[2019-10-21 14:20] TiemenSch commented on #258
Hi, I just gave it a spin! Styling works perfectly as far as I can tell.

Could it be that the "type" of link is not automatically picked up?

My old nested anchor button allowed me to href a route such as ``"/actions/save?kind=graph"``, which leads to a file being downloaded.

The Button's href however only puts the link in the address bar and nothing is downloaded. Pressing F5 afterwards does!

[2019-10-21 14:42] tcbegley commented on #258
Glad it's working for you!

We have an [internal `Link` component](https://github.com/facultyai/dash-bootstrap-components/blob/master/src/private/Link.js) modelled on `dcc.Link`  that tries to guess if you wanted a `dcc.Link` or a `html.A` style link based on the `href` (essentially just checks if it's relative or absolute URL). It allows you to override the guessed behaviour with the `external_li

[2019-10-21 15:13] TiemenSch commented on #258
I think I made a mistake in thinking my "save" link was something internal, as it needed an html Anchor to work previously. It's a route to serve a file instead of going to an actual page, which I guess needs the external flag manually set in the keyword arguments in any case.

In conclusion:
Great work :)

[2019-10-21 15:28] tcbegley commented on #258
Haha, thanks!

This will make it into the next release in the coming days. I'll close this issue for now. Feel free to reopen if you have any more troubles.

[2019-10-21 15:28] #258 closed

[2019-10-22 16:23] hsneto opened #267 "Update value in dbc.Select() with callbacks"
Hello,

I'm not being able to update the value in dbc.Select() with callbacks.
Any idea how to solve this?

[2019-10-22 16:29] hsneto commented on #267
Actually, it does update the value, but is does not change its visual option in the dropdown.

[2019-10-22 19:50] tcbegley commented on #267
Hey @hsneto

Thanks for reporting, I will look into it, but I think I know what the problem is likely to be.

[2019-10-23 16:47] jezlax opened #269 "using dbc bootstrap does not allow print layout in chrome"
loving dbc so far, it's been a life-saver. i'm not 100% that this is on the dbc side, but i thought i would raise it and see if anyone else has encountered it.

When I go to print my web app (ctrl+p in chrome). I do not have the "layout" option available to me. this is true whether or not i am printing to pdf, to a printer etc.

![image](https://user-images.githubusercontent.com/10966945/67415436-

[2019-10-23 17:41] tcbegley commented on #269
Hey @jezlax,

Thanks for reporting this, what a strange bug! This appears to be a known problem with Bootstrap, in addition to the StackOverflow post you linked, if found [this issue](https://github.com/twbs/bootstrap/issues/25629) on the Bootstrap repo.

I was able to get the layout option to reappear using the fix they recommended. It looks like something you tried already, but can you try this

[2019-10-23 19:04] tcbegley commented on #267
Hi @hsneto

I have just submitted #270 which should resolve this. You can test it out by installing the associated prerelease

[code]

Here's a minimal example, but please also test it out with your own app to see if it adds the desired functionality.

[code]

[2019-10-23 20:26] jezlax commented on #269
thanks @tcbegley - i had tried to implement the size:auto CSS earlier to no avail, i actually ended up having a bad path to the the custom CSS file in my app=dash.Dash() ... i'm up and running now with the layout function. I'll close this bug. hopefully this helps folks in the future as well, thanks.

[2019-10-23 20:26] #269 closed

[2019-10-24 09:06] miqh commented on #173
@tcbegley, you can probably close this off now because of the work done in #268?

In hindsight, I probably should've stuck with one of the recognised keywords in the commit message to auto-close this linked issue on the merge.

[2019-10-24 21:16] hsneto commented on #267
Thanks, it worked!!!

[2019-10-24 21:16] #267 closed

[2019-10-30 16:25] flyingcujo opened #275 "dbc.Select() should allow individual style options"
Allowing the ability to allow style options in dbc.Select components would allow similar formatting features allowed by dbc.Dropdownmenuitem() - i.e. set active, format font color, etc - without the need to handle callbacks for each item listed.

[2019-10-30 17:04] kanoute13 opened #276 "dbc.Tabs createing extra div"
Hi there,

i noticed that when you create tabs with the bootstrap component automatically creates a div element and inside puts the <ul>.

I cannot find and name this div with a class making difficult for me to manipulate my content through css.

[2019-10-30 21:22] tcbegley commented on #275
Hey @flyingcujo

Thanks for the suggestion, but it's actually not possible because the select that gets rendered is a native browser form element rather than styled HTML.

One thing we would plausibly add is support for [option groups](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup), which would allow you to have headed sections in the select. But working out how to support tha

[2019-10-30 21:26] tcbegley commented on #276
Hey @kanoute13

Could you explain the difficulties you are having with styling your app as you want to? If you can provide a simple code sample that would be particularly helpful.

The extra div is useful for us to support the `Loading` component in _dash_core_components_. I'm also reluctant to change the HTML structure of components between releases if it's avoidable in case any users have writte

[2019-10-31 10:11] kanoute13 commented on #276
Hi please find attached the python code, the html and what i see.

My goal is to apply transparency to the line under the tabs, so i can see the background.

The thing is that I cannot apply transparency to this div cause i cannot affected without class.

I can make it tho if i apply something to all the children element, but this is not gonna work perfectly.

Do you have something to suggest?

Th

[2019-10-31 10:40] tcbegley commented on #276
Hey Dimitris,

You could target that `div` using the [child combinator](https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator) in your CSS. Something like

[code]

[2019-10-31 13:09] kanoute13 commented on #276
yeah i thought about it but face some small conflicts.

Ill figure it this out,

Thank you very much for your responses.

[2019-11-04 12:34] christianwengert opened #277 "[Bug] Dash 1.5.0 inclusion of dash.DataTable and dbc.Modal breaks all callbacks"
**Describe your context**

We have a fairly complex app which was wonderfully working on Dash 1.4.0 and before. Now I updated to Dash 1.5.0 and subsequently to 1.5.1 and the fact of including a DataTable makes *all* callbacks not working  anymore (even the clientside ones).

I managed to break it down to a minimal working example which exposes the error:

This does work (i.e. clicking on one of th

[2019-11-04 12:34] christianwengert commented on #277
I found the following: When replacing the dash_bootstrap_components.Modal.is_open property with a simple dash_html_components.div.style property:

[code]

Everything works as expected => So no bug in dash, but in dash bootstrap components. I will close this issue and reopen it at dbc

[2019-11-04 13:03] christianwengert commented on #277
probably related to https://github.com/plotly/dash/issues/995

[2019-11-05 07:32] christianwengert commented on #277
Still the same problem with Dash 1.6.0

[2019-11-05 08:24] tcbegley commented on #277
Hey @christianwengert

Thanks for reporting this and for doing so in such detail.

I don't fully understand the issue yet, but my best guess is that it's a combination of the lazy loading of JavaScript bundles added in Dash 1.5.0 (see [here](https://github.com/plotly/dash/pull/899) and [here](https://community.plot.ly/t/dash-1-5-0-released/30622)) and the fact that the modal contents are not in th

[2019-11-05 08:35] christianwengert commented on #277
Indeed, this workaround also works in my large app. I would not understand why or how, but thanks for pointing this out!

[2019-11-15 06:26] ieipi opened #278 "how to make multiple InputGroup show in the same line"
Hi, I have multiple itemGroup, and by default they showed one per line.
how can i make the show inline in 1 line? and how to customize the length of Input?

[2019-11-15 06:56] tcbegley commented on #278
Hi @ieipi

You can add `className="list-group-horizontal"` to the `ListGroup`, and then set the width of items using inline styles or CSS.

For example

[code]

Hope that helps.

[2019-11-17 04:49] firasm opened #279 "Missing navigation on homepage"
Hey there,

Thanks for the awesome package. Just thought I'd point out there is no navigation links on the homepage...checked on Safari and Chrome on macOS. See screenshots below:

homepage:

<img width="1552" alt="Screen Shot 2019-11-16 at 8 45 16 PM" src="https://user-images.githubusercontent.com/2507459/69003175-83672f80-08b2-11ea-8ea8-1050adb24dd2.png">

Sub-page (which I found through google)

[2019-11-17 07:43] tcbegley commented on #279
Thanks @firasm, the documentation definitely needs an update. Until recently the focus was mostly on adding content. Now that all the components are documented the plan is to go back and restructure it a bit. Unfortunately I have limited time to do it right now so it won't happen immediately, but when it does I'll make sure navigation is more consistent.

[2019-11-19 08:34] Colanim opened #280 "Modal : display issues"
I'm trying to use the Modal component, but I'm having issue when displaying it : it's all spaced out.

![image](https://user-images.githubusercontent.com/43774355/69129763-6c168500-0af2-11ea-9660-df7a0239c752.png)

The code :

[code]

Otherwise it works perfectly. It's only a display issue but I'm no expert in CSS so I don't know how to modify the appearance of the modal to make it more compact, l

[2019-11-19 08:49] Colanim commented on #280
I found my problem : my CSS file was overwritting `modal-footer` & `modal-body`, which is used by the component.

[2019-11-19 08:49] #280 closed

[2019-11-21 19:29] josephcappadona commented on #277
@tcbegley I just wanted to point out that I am encountering this bug without any use of the `dbc` module in my code, my code only contains a `dt.DataTable`, but the behavior is the same where callbacks are not fired until I navigate to the tab with the DataTable.

[2019-11-21 19:57] tcbegley commented on #277
Hi @josephcappadona

That's interesting, are you able to share a minimal example that reproduces the issue? If so it may be worth also raising an issue on the Plotly Dash repo.

[2019-11-21 20:07] josephcappadona commented on #277
@tcbegley See https://github.com/plotly/dash/issues/1010

[2019-11-22 08:51] tcbegley commented on #277
Thanks! I'll keep an eye on that and see if there's any action needed from us.

[2019-11-23 02:05] dre2004 opened #281 "Bootstrap sidenav"
Hello,

Is it possible to use the bootstrap sidenav?

I can't find anything relating to a sidenav on the documentation or in the issues, I was hoping to use something like the sidenav push here https://www.w3schools.com/howto/howto_js_sidenav.asp.

Cheers!

[2019-11-23 07:26] tcbegley commented on #281
Hey  @dre2004

There's [this example](https://github.com/facultyai/dash-bootstrap-components/tree/master/examples/multi-page-apps/responsive-collapsible-sidebar) in the examples folder which is pretty close to what you want I think?

Bootstrap doesn't actually have a native sidenav weirdly enough, so it will always be necessary to build it somewhat manually with custom CSS etc. I'm sure the W3Scho

[2019-11-24 10:14] tcbegley commented on #278
Closing this, feel free to reopen if you’re still having problems

[2019-11-24 10:14] #278 closed

[2019-11-26 12:40] snsmac opened #282 "Tooltip fails to attach to element"
Adding a a tooltip to a component sometimes fails with the following error:
"The target 'vdd' could not be identified in the dom, tip: check spelling"

This code is enough to reproduce the error:
[code]

This may be related to following issue: https://github.com/reactstrap/reactstrap/issues/773
Stacktrace:

 Le@http://127.0.0.1:8050/_dash-component-suites/dash_bootstrap_components/_components/dash

[2019-11-26 15:26] tcbegley commented on #282
Hey @snsmac

I think this is probably because recent changes to Dash mean that the dropdown is now loaded lazily, so at the moment the tooltip looks for an element with `id="vdd"` it hasn't been inserted into the DOM yet.

I'll see if that can be fixed with a change to _dash-bootstrap-components_, though it might just be the case that you'll need to target an element that isn't loaded lazily.

In

[2019-11-27 13:53] PGijsbers opened #283 "Persistence not supported"
As far as I can tell, at this moment the Dash 1.3 feature [persistence](https://dash.plot.ly/persistence) is not supported. Are there plans for supporting this feature and if so, is there any timeline? I realize this would potentially raise the minimum Dash version requirement.

[2019-11-27 13:56] tcbegley commented on #283
Hi @PGijsbers

Thanks for raising this. I hadn't actually registered that this was something we could support. Looks like it's not too hard on our end so we should do it. Not too worried about bumping the version requirement.

Are there particular components / props that you would most like to have persisted?

[2019-11-27 14:24] ieipi opened #284 "Select.value/label can't updated from callback"
I have a Select component and want to update its label and value from callback.
1. options = [{'label':'all', 'value':'all'}, {'label':'item-1', 'value':'item-1'}, ]
2. the Select component showed 'all' by default
3. then I changed its value from 'all' to 'item-1' in the page UI.
4. then I triggered a callback, and within the callback i updated its 'value' to 'all';
however, the page still shows '

[2019-11-27 14:27] tcbegley commented on #284
Hi @ieipi

Can you check which version of _dash-bootstrap-components_ you are running?

[code]

There was a change in the latest version which might help with this, so if you don't see `0.7.2` after running the above try upgrading

[code]

If you have the latest version and you're still having problems could you maybe share a code snippet that reproduces the problem?

[2019-11-27 23:39] tcbegley commented on #277
This has been fixed in Dash 1.7.0. See [here](https://github.com/plotly/dash/blob/dev/CHANGELOG.md#170---2019-11-27) and [here](https://github.com/plotly/dash/pull/1027).

Feel free to reopen if you're still having trouble, but the original example at the top of this issue works after running

[code]

[2019-11-27 23:39] #277 closed

[2019-11-28 02:38] ieipi commented on #284
thanks @tcbegley , it works after update!
can you give more detail why it happened before?

[2019-11-28 07:24] tcbegley commented on #284
Great glad to hear it!

You can check out the changes in #270 for full details, but essentially the problem was that the component initialised its value correctly from the backend, and would send new values to the backend when modified in the ui, but was not re-rendering when the backend value changed.

That meant if the value changed for any reason other than a new value being selected in the com

[2019-11-28 07:24] #284 closed

[2019-11-28 08:18] dre2004 commented on #281
Awesome, thanks! I did actually have a play around over the weekend and did manage to get to the same solution for the nav part but I hadn't come up with a way to set the active portion which this solves!

[2019-11-28 08:18] #281 closed

[2019-11-28 09:18] PGijsbers commented on #283
Cool! `Checklist` and `Input` are most important to me right now.

[2019-11-28 11:07] PGijsbers opened #286 "How to set row height?"
Sorry if this is a webdev/bootstrap question and not related to the framework.
I'm using `dbc.Row` and `dbc.Col` to place four elements on my page.
I want them fill the page roughly like this:

[code]
The top row taking roughly 65% of height and the bottom row the remainder.
The left column should take roughly 65% of width and the right column the remainder.
Each element inside the cell should the

[2019-11-28 22:19] tcbegley commented on #286
Height in CSS can be a bit annoying. I think the utility classes in Bootstrap like `h-75` are a good way to go. You just need to remember that the 75 means 75% of the height of the parent. If the height of the parent isn't set then it will likely just be as big as it needs to be to contain the child and so the `h-75` class ends up not really having an effect.

Instead, you should set the height of

[2019-11-29 18:36] tcbegley opened #287 "DropdownMenuItem as link prevents DropdownMenu dismissing"
If `DropdownMenuItem` is used as an internal link it prevents the `DropdownMenu` from being dismissed on click.

See [relevant thread](https://community.plot.ly/t/make-dropdown-menu-disappear-after-link-is-clicked/32021) on Plotly forum.

[2019-11-30 01:10] jezlax commented on #287
I literally came here to post this today. So wanted to +1 it, I guess. I use almost all of the dropdownMenuItems as href's across my apps.

[2019-12-01 10:51] tcbegley commented on #287
@jezlax would you mind testing out the prerelease that addresses this issue? It works at my end but it's always good to have it tested on a few different setups before releasing.

[code]

Note that in addition to fixing the dismissal issue, `DropdownMenuItem` now has a property `toggle` that can be used to control whether that item does or doesn't dismiss the menu on click.

[2019-12-01 15:05] jezlax commented on #287
Thanks Tom,

Will test today and get back to you, as time permits. Thanks for the quick
fix!

On Sun, Dec 1, 2019 at 3:51 AM Tom Begley <notifications@github.com> wrote:

[2019-12-02 14:02] tcbegley commented on #283
Waiting on [this issue](https://github.com/plotly/dash/issues/1034) to be resolved before making the required changes here.

[2019-12-03 17:17] jezlax commented on #287
hi Tom. I'm getting the following when i go to pip install the dev package...

   raise BadZipFile("File is not a zip file")
zipfile.BadZipFile: File is not a zip file

it very well could be something on my end. I'll keep toying with it

[2019-12-03 18:03] tcbegley commented on #287
Hmm, that's strange... What OS / Python version are you using? Can you try in a fresh virtual environment  maybe?

[2019-12-03 18:06] jezlax commented on #287
I'll do that. windows, python 3.7.3

On Tue, Dec 3, 2019 at 11:03 AM Tom Begley <notifications@github.com> wrote:

[2019-12-03 18:50] tcbegley commented on #287
Might also be worth trying

[code]

[2019-12-03 19:11] jezlax commented on #287
Boom. Works beautifully. Looks like it deprecates me to dcc 1.0.0 on that
dbc version, so I have to revert back. Not sure if that's just an issue on
my end, but the dropdowns worked as expected in the dev environment.

On Tue, Dec 3, 2019 at 11:50 AM Tom Begley <notifications@github.com> wrote:

[2019-12-03 20:03] tcbegley commented on #287
Great! Glad to hear it's resolved the issue for you

That is surprising, since dcc is not a dependency of dbc, so it shouldn't require that. Can you update dcc without breaking dbc `pip install -U dash-core-components`? Keep me posted if you figure out what's going on.

[2019-12-03 20:07] jezlax commented on #287
This is what I get when i pip install the dev package...

Installing collected packages: dash-bootstrap-components,
dash-core-components
  Found existing installation: dash-bootstrap-components 0.7.2
    Uninstalling dash-bootstrap-components-0.7.2:
      Successfully uninstalled dash-bootstrap-components-0.7.2
  Found existing installation: dash-core-components 1.6.0
    Uninstalling dash-core-co

[2019-12-03 20:09] jezlax commented on #287
I could be related to this issue (assuming you guys have DASH 1.0.2 as a
dependency)

ERROR: dash 1.0.2 has requirement dash-core-components==1.0.0, but you'll
have dash-core-components 1.6.0 which is incompatible.

On Tue, Dec 3, 2019 at 1:06 PM Cory Jez <cory.jez1@gmail.com> wrote:

[2019-12-04 10:03] tcbegley commented on #287
Hmm, we just have `dash>=1.0.0` as a requirement, it shouldn't downgrade you if you have a more recent version of Dash installed... What happens if you `pip install -U dash`?

[2019-12-08 12:53] tcbegley commented on #286
Closing this, but feel free to reopen if you're still having problems.

[2019-12-08 12:53] #286 closed

[2019-12-17 09:31] chk2817 opened #290 "Setting options of Select via callback"
Hi There,

Struggle to set the options of a Select using a call

i have a Form / FormGroup with the following

``dbc.Col(dbc.Select(id='columns_list',options=[{'label':'','value':'0'}]),width=2)``

First, we apparently need to init the options as done above with a dummy

use load a data file into a dash_table and then I want to list the dash_table columns into the Select options

my callback

``@a

[2019-12-17 09:38] tcbegley commented on #290
Can you try changing

[code]

to

[code]

I think because you are wrapping the `Output` in a list, Dash is treating it like a multiple output callback, and unpacking `options` when you return it, rather than passing it as a list to the `Select`.

Let me know if that fixes it.

[2019-12-17 09:44] chk2817 commented on #290
Got it, thanks a lot, little details that makes sometimes miserable :=(
just realized issue was also there with the dcc.Dropdown
many thanks and wish you a happy festive year end break

[2019-12-17 09:44] tcbegley commented on #290
No worries, glad I could help 🙂

[2019-12-17 09:44] #290 closed

[2019-12-18 17:14] toddkarin commented on #137
This works, but seems unnecessarily complicated. A future suggestion would be to have an Output() style function that can be called in the middle of a callback. This is how other GUI software works, e.g. Matlab.

[2019-12-24 08:25] tcbegley commented on #287
This has been resolved in version 0.8.0

[2019-12-24 08:25] #287 closed

[2019-12-24 08:26] tcbegley commented on #282
Closing this, let me know if the suggested solution isn't working for you or if you are having further problems.

[2019-12-24 08:26] #282 closed

[2019-12-24 08:28] tcbegley commented on #283
Added preliminary support for this in 0.8.0. Currently persistence is supported for `Checklist`, `Input`, `RadioItems`, `Select`, `Tabs` and `Textarea`. When the above linked issue is resolved I will add support for more components. Will leave this issue open for now to keep tracking.

[2020-01-16 10:53] jimbroze opened #303 "Dropdowns in Dash datatable do not appear with Bootstrap"
- dash version: `#1.4.1`
- dash-bootstrap-components version: `#0.8.1`
- components affected by bug: Dash_table.datatable (but only when using dash-bootstrap-components)

### What is happening?

Dropdowns within dash core components datatables do not show the list of available options.

### What should be happening?

Dropdown list should appear upon clicking

### Code

[code]
A CSS fix was shown i

[2020-01-18 07:24] tcbegley commented on #303
Hey @jimbroze,

Thanks for reporting. I believe the issue is that `DataTable` uses some fairly generic CSS class names for styling such as `row` which clash with Bootstrap CSS classes.

I'm reluctant to include CSS in dash-bootstrap-components which restyles components in a different library whose development I am not involved in. Because I don't have control over the implementation of the dropdow

[2020-01-18 17:35] jimbroze commented on #303
Hi @tcbegley,
That seems like a fair compromise, I'll raise it in dash_table and link to this issue for traceability.

Thanks a lot for the response and consideration.

[2020-01-19 19:39] DrGFreeman opened #304 "Add target attribute to NavLink"
The [NavLink](https://dash-bootstrap-components.opensource.faculty.ai/l/components/nav) object currently does not have a `target` attribute.

Having a `target` attribute would be useful to open links in different browser tab using `target="_blank"`.

It is possible to work around this using `html.A` which has the `target` attribute:

[code]

However, having the `target` attribute in `dbc.NavLink`

[2020-01-20 08:38] tcbegley commented on #304
Thanks for the suggestion @DrGFreeman, I'm happy to add this.

Having thought about it a bit, I think it only really makes sense to support this for external links (I can elaborate on that if you like), would that still give you the functionality you want or do you want to open another page of your app in a new tab?

[2020-01-21 02:35] DrGFreeman commented on #304
@tcbegley, Thanks for the quick response!

Most cases I can think of are for external links. I could however see cases where a link would point to a static portion of the application, like an app's documentation for example, and this link would have to open in a new tab and leave the current tab unchanged.

I could also see another case where the link would open another independent app running on

[2020-01-21 09:24] tcbegley commented on #304
That's correct in the case that it is being used as an external link, and you are right that in that case it's a simple case of passing the target attribute to the `<a>` element.

However something a bit different happens when they are used as an internal link. Dash apps are [single page applications](https://en.wikipedia.org/wiki/Single-page_application). They give the illusion of allowing you to

[2020-01-22 01:48] DrGFreeman commented on #304
Thanks for explaining the difference between the `dcc.Link` and `html.A`!

Makes perfect sense!

[2020-01-23 21:43] firasm commented on #150
For what it's worth, I found `dbc` invaluable when I taught Dash to my class of 100 students at UBC in the [Master of Data Science](https://masterdatascience.ubc.ca) program.

Students very creatively used dbc and Dash to build pretty sophisticated dashboards with various interface elements.

When we got to using Dash in R in the second half of the course, there were significant grumblings about h

[2020-01-25 15:05] tcbegley commented on #304
Hey @DrGFreeman,

I've just made a prerelease that should resolve this issue. I've tested it at my end and all seems well, but if you get a chance to try it out and let me know if it works for you that will be much appreciated.

[code]

I'll likely make a full release over the next few days.

[2020-01-25 18:47] DrGFreeman commented on #304
Tested on a [simple demo app](https://github.com/DrGFreeman/YAMLDash/commit/29283ba65320eb1d69022fdc1db810af740c921e) and it works perfectly. Thanks a lot!

Note that I did not have to set the `external_link` attribute to `True` for the `target="_blank"` to work.

[2020-01-25 18:56] tcbegley commented on #304
That should only be necessary if you supply an internal / relative link (e.g. `/internal`) that you want to be treated like an external link. If you supply a link such as `https://github.com` it will automatically infer that it's an external link.

[2020-01-27 09:09] filippo82 opened #307 "Form vs Input - what's the difference?"
Dear faculty.ai,

what is the difference between **Form** and **Input** components?

Thanks.

[2020-01-27 17:59] tcbegley commented on #307
Traditionally HTML forms were used to collect values of inputs and then submit them together to the server for processing. In Dash however, you don't really submit forms in the traditional way, instead you bind callbacks to the values of your input components. As a result the `dbc.Form*` components are really just structural components that will help you control the layout of a collection of input

[2020-01-28 22:32] tcbegley commented on #307
Closing this for now, but feel free to reopen if you have further questions.

[2020-01-28 22:32] #307 closed

[2020-01-28 23:07] tcbegley commented on #304
Resolved in `0.8.2`

[2020-01-28 23:07] #304 closed

[2020-01-28 23:08] tcbegley commented on #303
I'm going to close this issue for now since I don't think there's really anything we can do at our end, but feel free to reopen if you have further thoughts / questions.

[2020-01-28 23:08] #303 closed

[2020-01-29 14:55] dgasmith commented on #241
Is forming the radio items like a button group possible, an example is [here](https://mdbootstrap.com/snippets/jquery/mdbootstrap/921368). The main drawback it seems it that the radio items are organized with input/label in the same div rather than being able to place the input inside the label.

[2020-01-29 17:50] tcbegley commented on #241
Hey @dgasmith, the simplest way to achieve this is with a `ButtonGroup` and a callback. Something like this:

[code]

If you know a bit of JavaScript you could even write a clientside callback to achieve the same without having to ping the server.

[2020-01-29 18:27] dgasmith commented on #241
Thanks! I had looking into the multiple I/O idea, but we need ~15 of these all told so it is pretty unwieldy. The loops do help some however!

Two quick questions:
1) I think I can probably figure out the JS, but do know of anyone who has implemented this?
2) Is it possible/advisable to add this kind of ButtonGroup to this repo?

PS: Doesn't `n_clicks` increment on click so having a user deselect

[2020-01-29 23:00] tcbegley commented on #241
1. I actually thought about this again and I'm not sure that an equivalent of `dash.callback_context` is available for clientside callbacks...
2. I'm not quite sure how to capture this logic in the component, but I can think about it.

Normally clicking on a radio button doesn't deselect that option, so it depends on the behaviour you are expecting? The example I posted will always just set the la

[2020-01-30 02:40] dgasmith commented on #241
This is awesome. I had tried to edit the classnames to no avail due to the structure. It will be a few days before I can try it, but I think this should be perfect.

I am glad I asked!

[2020-02-05 23:04] daniel-saunders opened #310 "0.8.2 Nav appears to break url pathname callbacks"
- dash version: `#1.8.0`
- dash-bootstrap-components version: `#0.8.2`
- components affected by bug: Nav

Appears as if Navlink clicks aren't triggering URL path change callback.
The URL appears to update in the display bar (testing in Firefox), but the callback for URL path change doesn't get triggered (although can be triggered if forcing the page to refresh).

Downgrading to dbc 0.8.1 solved th

[2020-02-06 07:06] tcbegley commented on #310
Hi @daniel-saunders

Thanks for reporting! I wasn't able to reproduce this. I tried the below code on both Chrome and Firefox with dbc 0.8.2 and didn't have any problems.

[code]

Can you test this example at your end? And if possible could you share an example that demonstrates the problem you're seeing?

[2020-02-07 12:17] matthijsramlab commented on #310
Hi am having the same problem. For me this examples does not work. I do not why... also downgrading to the previous version does not fix it.

[2020-02-07 12:21] matthijsramlab commented on #310
I just downgraded to the Dash version 1.8 that solved my problem. Maybe it has something todo with https://github.com/plotly/dash-core-components/pull/743

[2020-02-07 12:26] tcbegley commented on #310
Thanks @matthijsramlab, it does indeed appear this was the problem. I tested against Dash 1.8.0 since that's what the original post found the issue with, but with Dash 1.9.0 I can now reproduce the problem. Will see what's necessary to fix.

[2020-02-07 12:40] tcbegley commented on #310
@matthijsramlab @daniel-saunders

I just made a prerelease that I think will address this issue, if you have time to try it out I'd appreciate knowing if it resolved the issue for you!

[code]

I still need to check that this hasn't broken anything else (shouldn't have...) but assuming it's all good I'll try release it as a full release over the next couple days.

[2020-02-08 11:27] mkschulze commented on #310
I also had the same issue with latest public release, now it's fixed for me.

dash-bootstrap-components==0.8.3rc1
dash==1.9.0
python==3.8.0

[2020-02-08 16:06] beautah commented on #310
confirm as well -
I also had the same issue with latest public release, now it's fixed for me.

dash-bootstrap-components==0.8.3rc1
dash==1.9.0
python==3.8.0

Thanks!

[2020-02-08 16:15] tcbegley commented on #310
Thanks for all the reports. The fix is now part of the latest stable release 0.8.3 (on PyPI,  conda to follow soon).

You should now be able to fix with

[code]

You can check which version you have installed with

[code]

I'm going to close this now, but if anyone has further problems feel free to reopen or open a new issue.

[2020-02-08 16:15] #310 closed

[2020-02-18 22:30] firasm commented on #150
so... probably no chance for R support soon eh? thought I'd check where this was on the priority list before trying to find an alternative.

[2020-02-18 22:57] tcbegley commented on #150
Hey @firasm

Sorry for not responding before, I actually looked into it again after your first comment, but it turns out it's a little complicated. The `dash-generate-components` command line tool that comes bundled with Dash fails building R components for dash-bootstrap-components because it assumes a particular project structure that we don't conform to.

After a bit of experimentation with a f

[2020-02-19 02:41] firasm commented on #150
Oh no worries at all!

I'll likely teach this again in the fall, so it's worth getting something out, even if not for this iteration!

I'm in touch with some folks at Dash - let me see if I can ping one of them to see if they're willing to help :-)

[2020-02-19 05:50] tcbegley commented on #150
I opened a [PR](https://github.com/plotly/dash/pull/1125) to start a discussion. Feel free to chime in there or just monitor it if you want to get involved.

[2020-02-19 07:27] tonywang531 opened #316 "Latest offline installer contains bug"
- dash-bootstrap-components version: `#0.8.3`

### What is happening?

The offline installer does not work for 0.8.3 because it is detecting the setuptools is out of date even though it is not. The previous version of 0.8.2 offline installer worked without problems.

### What should be happening?

The installer should work without problems

### Error messages

![image](https://user-images.githubus

[2020-02-19 08:09] tcbegley commented on #316
Hi @tonywang531,

Thanks for reporting. Could you confirm what you mean by offline installer? Are you downloading the source from PyPI then installing that?

Could you also confirm what command you ran that gave you that output?

[2020-02-19 09:00] tonywang531 commented on #316
Yes I am referring to the tar file on pypi. Some coorperate computer does not have internet access so have to be installed offline.

I used `pip -install filename `in the directory with the file

[2020-02-19 09:11] tcbegley commented on #316
Which version of Dash do you have installed? If you're unsure you can find out with

[code]

Your error suggests you are using Anaconda, is that correct? dash-bootstrap-components 0.8.3 requires Dash 1.9.0 or later, but this is not yet available through conda. Perhaps that could be to blame? I will look into this a bit more in any case.

[2020-02-19 23:48] tonywang531 commented on #316
Hello @tcbegley ,

Thank you for your message. Yes the computer which have problems is using Dash 1.8.0. This is probably why it did not work. Although it is kind the installer should fail at detecting Dash version instead of setuptools.

[2020-02-20 07:12] tcbegley commented on #316
Strange. I tried downloading the tar file myself and installing and didn't seem to have any issues.

Is the screenshot you shared above all of the error messages you get? Is there any additional logging output?

[2020-02-20 07:29] tonywang531 commented on #316
This is the full error log.
![image](https://user-images.githubusercontent.com/51065728/74910371-b531ea00-53fd-11ea-963e-52a51a655889.png)

The setuptool version

![image](https://user-images.githubusercontent.com/51065728/74910533-15c12700-53fe-11ea-8f74-6d350f54191b.png)

Which is why the error is not making sense

[2020-02-20 08:23] tcbegley commented on #316
Do you have multiple versions of Python installed? Is `pip` definitely installing for the version that has `setuptools` installed? You should be able to check with `where python` and `where pip` and checking the paths match (assuming you're on Windows, try `which python` and `which pip` if you're on Unix).

If they are different, you could try installing with

[code]

which would ensure `pip` is i

[2020-02-20 08:51] tonywang531 commented on #316
where python
![image](https://user-images.githubusercontent.com/51065728/74916573-730ea580-5409-11ea-90bb-fc99c1ec3953.png)
where pip
![image](https://user-images.githubusercontent.com/51065728/74916597-79048680-5409-11ea-9073-f8d89472b98a.png)
I am assuming they are installed in the correct place, is this right? Also I have tried python -m pip install and it did not work either.

[2020-02-20 09:28] tcbegley commented on #316
Hmm, yeah that looks ok to me. You're not having this problem with any other packages?

There's one more thing I can think to try which is adding the `--no-deps` flag.

[code]

Since your install is failing to fetch `setuptools` (presumably due to lack of internet), this flag should tell `pip` to skip it. If `setuptools` is already installed the installation should still complete successfully.

[2020-02-20 23:51] tonywang531 commented on #316
Sorry it still does not work, I have logged the full process.
[log.txt](https://github.com/facultyai/dash-bootstrap-components/files/4233580/log.txt)
I do not know much about pip install process but it looks the default is to just go check for:
[code]

[2020-02-21 10:01] tcbegley commented on #316
Ok, I think I managed to reproduce the problem with a bit of hacking and turning off my internet connection.

With that setup in place I managed to resolve the issue by running the `setup.py` script manually as a Python script. To do that, untar the file downloaded from PyPI, then from inside the untarred directory run

[code]

Let me know if that works.

[2020-02-21 20:02] riobranham opened #318 "dbc.Button not loading new href url"
- dash version: `1.0.1`
- dash-bootstrap-components version: `0.7.2`
- components affected by bug: `dbc.Button`

### What is happening?

Using a dbc.Button with an href to a new url in the dash app. When the button is selected it redirects the url in the browser but does not reload the page. The new page appears only after selecting refresh in the browser (Chrome). This only started happening rece

[2020-02-23 07:46] tcbegley commented on #318
Hi @riobranham

Thanks for reporting. I wasn't able to reproduce the error with the following code and library versions

[code]

[code]

However, I suspect that the most likely culprit here is the change in the way that `dcc.Location` works in `dash-core-components==1.8.0`. Sure enough the above example stops working if I update `dash-core-components` to `1.8.0`. Could you check which version of `

[2020-02-24 15:28] ktrev opened #319 "How can we use icons with this?"
Can we use Glyphicons/ Fontawesome icons or anything else?

[2020-02-24 18:25] tcbegley commented on #319
Sure, it's kind of independent of dash-bootstrap-components. You just need to include the CSS and add `html.I` components with the relevant `className` to your layout. For example

[code]

[2020-02-25 00:20] tonywang531 commented on #316
Thanks, it worked this time. Usually I can install the offline module with just pip install filename. Next time if similar things happen I know what to do.

[2020-02-25 00:20] #316 closed

[2020-02-25 09:21] ktrev commented on #319
Thanks. Works !!
Closing the issue.

[2020-02-25 09:21] #319 closed

[2020-02-26 17:04] nfrik opened #320 "Can't install any version above 0.8.0 via pip"
Please fill out the below information as much as possible.

- dash version: `1.9.0`
- dash-bootstrap-components version: `0.8.3`
- components affected by bug: dash

### What is happening?

Can't install dbc 0.8.3, 0.8.2 and 0.8.1 with pip for python 3.6.10

Installation is interrupted with the following error:

`UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 436: ordinal not

[2020-02-27 02:04] ktrev opened #321 "Navbar and Sidebar in a single app"
Somehow I am not able to achieve this. When I add a sidebar, the top part gets hidden under the navbar

My code is as below (The sidebar code is taken from the example and used as such. Just put it in a function.)

[code]

[2020-02-27 09:22] tcbegley commented on #320
Hey @nfrik

Thanks for reporting this. The problem is with [this line](https://github.com/facultyai/dash-bootstrap-components/blob/master/setup.py#L22) in the setup script which is loading some text to populate the metadata of the package. I didn't realise before that the `encoding` argument of `open`, which is unspecified in the script, has a [platform dependent default value](https://docs.python

[2020-02-27 21:05] tcbegley commented on #320
@nfrik I just made a prerelease with the changes of #322 included, let me know if you have the same issues installing

[code]

[2020-02-28 22:11] dmintercept commented on #321
either margin or padding should do the trick.  I was facing a similar issue with a sidebar and some content I was displaying on the page

[2020-02-29 18:09] tcbegley commented on #321
Yes, as @dmintercept said if you want the navbar running along the top, and the sidebar below you just need to increase the padding at the top of the sidebar. Assuming you're following [the simple sidebar example](https://github.com/facultyai/dash-bootstrap-components/blob/master/examples/multi-page-apps/simple_sidebar.py) you should just be able to modify the `SIDEBAR_STYLE` dictionary like this:

[2020-03-03 18:39] nfrik commented on #320
@tcbegley Thanks a lot! It seems to be working fine now.

[2020-03-03 18:39] #320 closed

[2020-03-03 20:59] tcbegley commented on #318
Closing due to no response. Please reopen if you're still having problems.

[2020-03-03 20:59] #318 closed

[2020-03-04 13:29] ktrev commented on #321
Thanks.
"padding": "4rem 1rem 2rem", worked.
Closing the issue.

[2020-03-04 13:29] #321 closed

[2020-03-10 01:11] ChristianTremblay opened #324 "Typo in dash version requirement"
- dash version: `#1.0.0`
- dash-bootstrap-components version: `#0.8.3`
- components affected by bug: setup

### What is happening?

Setup requires dash > 1.9.0

This version does not exsits... yet
https://github.com/facultyai/dash-bootstrap-components/blob/master/setup.py#L41

### Error messages

[code]

[2020-03-10 01:22] ChristianTremblay commented on #324
How did I miss that ?
Sorry for the mistake...
Forced version in pip and it worked....

[2020-03-10 01:22] #324 closed

[2020-03-10 05:41] rafaelqntn commented on #304
Hello,
I don't think this is very important, but I got a couple of warnings from React side regarding the target attribute of a `<a>` tag with a boolean value (see the stack trace below).

The link I'm rendering is an internal link:
`
dbc.NavLink(id='logout', className='ml-auto', children="Logout", href="/")
`
From the debug I could get the values that are being sent to React to render the element

[2020-03-10 06:42] tcbegley commented on #304
Hey @rafaelqntn

Thanks for reporting this! I think it's good if dash-bootstrap-components isn't generating confusing errors and warnings in the javascript console for users that might be less familiar with React etc.

This should already be fixed thanks to #315 which hasn't made it into a release yet. It's available in the prerelease `0.8.4rc1` though, could you try installing that and see if you

[2020-03-10 20:24] rafaelqntn commented on #304
Oh, okay! Thank you for your quick response.
Using the RC the console's output is clean once again.

I'm going to watch this repo and wait for the next release.

This lib is pretty amazing, I appreciate this!

[2020-03-10 22:08] baluinfo86 opened #326 "Getting 'dash\component\dash_bootstrap_components\_components\dash_bootstrap_components.min.js' could not be found"
When i use dash bootstrap component in my django template , getting below error

'dash\component\dash_bootstrap_components\_components\dash_bootstrap_components.min.js' could not be found

[2020-03-10 22:50] tcbegley commented on #326
Hi @baluinfo86

Could you give some more detail? Are you using [django-plotly-dash](https://github.com/GibbsConsulting/django-plotly-dash/)?

[2020-03-12 00:53] baluinfo86 commented on #326
yes am using django-plotly-dash

Setting.py file has below config

INSTALLED_APPS = [
    .....
    'django_plotly_dash.apps.DjangoPlotlyDashConfig',
    'channels',
    'channels_redis',
]

MIDDLEWARE = [
    'django_plotly_dash.middleware.BaseMiddleware',
    'django_plotly_dash.middleware.ExternalRedirectionMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
]

[2020-03-15 10:53] tcbegley commented on #279
Resolved by #332

[2020-03-15 10:53] #279 closed

[2020-03-15 10:54] tcbegley commented on #130
Resolved by #332

[2020-03-15 10:54] #130 closed

[2020-03-15 10:55] tcbegley commented on #79
Resolved by #332

[2020-03-15 10:55] #79 closed

[2020-03-15 13:48] tcbegley commented on #326
As far as I can tell this is either an issue with Django-Plotly-Dash or with your Django configuration rather than an issue with dash-bootstrap-components. You should raise an issue on the Django-Plotly-Dash repo instead.

[2020-03-15 13:48] #326 closed

[2020-03-15 14:30] KyleKing opened #334 "dash_table overflowX partially crops the first and last column"
### Overview

The negative margins in the Bootstrap flex-box row appear to crop the first and last column of dash_table when `overflow-x` is set to `scroll` (I think the negative margin may cropany element when `overflow-x` is set). I'm not all that familiar with flex box and I'm not sure what an easy solution would be.

How should responsive (x-scroll-able) tables be created when using bootstrap/

[2020-03-15 15:34] tcbegley commented on #334
Hey @KyleKing

Thanks for the very detailed report!

The problem here is that `dash-table` applies the `row` class to table rows, which is also defined by Bootstrap. As you say the negative margin is causing the problem.

Bootstrap is very unlikely to rename `row`, and I don't have any say over `dash-table`, but you can work around this by writing some custom CSS to kill the negative margins only

[2020-03-15 15:47] KyleKing commented on #334
Thanks! That makes sense

I also found that you can use the `css` keyword: `dash_table.DataTable(css=[{'selector': '.row', 'rule': 'margin: 0'}], ...)`

[2020-03-15 15:51] #334 closed

[2020-03-17 17:55] mbkupfer opened #335 "bootstrap style sheet breaks the table when using fixed_column"
- dash version: `#1.9.0`
- dash-bootstrap-components version: `#0.9.1`
- components affected by bug: `dash_table.DataTable
### What is happening?

When freezing first column, it ends up creating what visually looks like two rows.

![image](https://user-images.githubusercontent.com/6313008/76885441-77798300-683c-11ea-9e91-17bea6a8e108.png)

### What should be happening?

When removing the dbc.theme

[2020-03-17 17:58] mbkupfer commented on #335
I noticed then when I toggle the `flex-wrap` style property, it removes this issue. Any idea how to incorporate this as a patch?

![image](https://user-images.githubusercontent.com/6313008/76886524-266a8e80-683e-11ea-9342-c19bfde96cf8.png)

[2020-03-17 18:18] tcbegley commented on #335
Hey @mbkupfer

This is because Bootstrap and dash-table both use a CSS class called `row`. The fix you identified is the right way forward here. You can incorporate it into your app by writing some custom CSS like the following and placing it in your `assets/` folder

[code]

This will set the `flex-wrap` property back to the default `nowrap` on any element with class `row` that is part of the tab

[2020-03-17 18:32] mbkupfer commented on #335
Thanks @tcbegley!

I figured I could overwrite, but just wanted to make sure there were no unintended consequences. Appreciate the guidance.

[2020-03-17 18:32] #335 closed

[2020-03-19 22:07] jezlax opened #336 "DBC layouts not allows dash-tables to render correctly"
Before opening:

- [Search for duplicate or closed issues](https://github.com/facultyai/dash-bootstrap-components/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the [contributing guidelines](https://github.com/facultyai/dash-bootstrap-components/blob/master/.github/CONTRIBUTING.md)

Please fill out the below information as much as possible.

- dash version: `#1.9.0`
- dash-bootstrap-components version

[2020-03-21 11:45] tcbegley commented on #336
Hi @jezlax

There's a couple of things going on here. First is that Bootstrap defines a CSS class called `row`, and `dash-table` also uses this class, so they interfere with each other. You can add the following custom CSS to assets to fix this.

[code]

The other thing is that your use of `Row` and `Col` is the wrong way around. Bootstrap expects rows of columns rather than columns of rows. The f

[2020-03-22 17:58] jezlax commented on #336
Tom, thanks immensely for the pointer. Will try adding in the assets to see
if it takes. Will re-organize the Col/Row makeup as well and report back.
Will post another sample if still stuck. Hope you all are well in the UK,
stay safe. Cheers.

On Sat, Mar 21, 2020 at 5:45 AM Tom Begley <notifications@github.com> wrote:

[2020-03-23 12:21] HedgeShot opened #338 "add n_clicks_timestamp to checklist & radioItems"
Hi,

Thanks for the package!
Would it be possible to add something like `n_clicks_timestamp ` for Checklist & radioItems?

For instance, if we have 2 checklists that affect one component it gets tricky to know which one was triggered last.

Thanks!

[2020-03-23 14:05] tcbegley commented on #338
Hey @HedgeShot

Thanks for raising this. `*_timestamp` properties are technically deprecated by Dash, to quote the documentation:

Hence it's probably not advisable to add new instances of these props if they could be removed in the future.

Happily you can achieve what you want using `dash.callback_context`. See the [Dash docs](https://dash.plot.ly/faqs) for details (under the question "How do I

[2020-03-23 14:11] HedgeShot commented on #338
Thanks a lot, I didn't know about depreciation of those values. Your solution is what I need to avoid using dcc.Store.

[2020-03-23 14:11] #338 closed

[2020-03-23 15:33] jezlax commented on #336
Tom! Thanks so much. this took care of my problem, both in the "dummy" example provided and in my production application. And the "proper" instantiation of the Row/Col setup is much much cleaner as well. Rewriting a lot of my app this way, with my new found time :)

Appreciate your help during these crazy times. Stay safe. thanks.

[2020-03-23 15:33] #336 closed

[2020-03-23 15:35] tcbegley commented on #336
Glad I could help! And thanks for the well wishes, look after yourself also.

[2020-03-23 22:42] BrunoGomesCoelho opened #340 "Broken links in themes documentation"
- dash version: `online docs`
- dash-bootstrap-components version: `online docs`
- components affected by bug: online docs

### What is happening?

Some of the links [cyborg, lux, yeti] in the [theme documentation](https://dash-bootstrap-components.opensource.faculty.ai/docs/themes/) incorrectly point to "cosmos", a theme that doesn't seem to exits.

### What should be happening?

They should be p

[2020-03-24 07:40] tcbegley commented on #340
Thanks for reporting and for submitting the fix. 🎉

I've merged #339 and pushed the updated docs.

[2020-03-24 07:40] #340 closed

[2020-03-24 17:14] dmintercept opened #341 "dbc.Jumbotron Style Keyword Arg"
I noticed that the dbc.Jumbotron component doesn't have a style keyword argument.  I wanted to set a background-image attribute

[2020-03-24 17:56] coe-team opened #342 "dbc doesn't seem to work well with Django"
Hi,

the below code will work fine in my desktop IDE.
import dash
import dash_bootstrap_components as dbc
import dash_html_components as html

app = dash.Dash(external_stylesheets=[dbc.themes.BOOTSTRAP])

app.layout = dbc.Navbar(
    dbc.Container(
        [
            dbc.NavbarBrand(
                [
                    html.Span("A", style={"color": "red"}),
                    html.Span("B",

[2020-03-24 17:57] coe-team commented on #342
****Without bootstrapping, I can do everything

[2020-03-24 18:21] tcbegley commented on #342
Hi @coe-team,

Thanks for reporting this. We aren't involved in the development of Django-Plotly-Dash, so I'm not sure we can help with this issue. You'd be better off raising an issue on [their repo](https://github.com/GibbsConsulting/django-plotly-dash) instead.

[2020-03-24 18:23] tcbegley commented on #341
Thanks @dmintercept, good spot. Will make sure this gets added. Would also happily approve a PR that addresses this.

[2020-03-30 14:08] #342 closed

[2020-04-01 11:56] Lemming0815 commented on #283
could persistence also be supported for stuff like `Collapse`?

[2020-04-01 13:41] tcbegley commented on #283
Yep, that's the plan. The reason it isn't yet is that it was not previously possible to persist boolean properties like `is_open` of `Collapse`. It looks like that might have been resolved by [this recently merged pull request](https://github.com/plotly/dash/pull/1142), so when a new release of Dash is made I hope to be able to support it.

[2020-04-01 17:17] npdsmedt opened #343 "tabIndex argument for dbc.Input"
I recently noticed that the dbc.Input element does not have the tabindex attribute, even though the dbc.Textarea does have it supported.

[2020-04-02 06:20] tcbegley commented on #343
Thanks for raising this, I'll make sure it gets added.

[2020-04-05 09:26] tcbegley commented on #343
This is available in version 0.9.2. You should be able to install it with

[code]

[2020-04-05 09:26] #343 closed

[2020-04-05 09:26] tcbegley commented on #341
This is available in version 0.9.2. Upgrade with

[code]

[2020-04-05 09:26] #341 closed

[2020-04-06 22:26] tcbegley commented on #283
Having looked into it in a bit more detail I'm not sure that PR will be enough. Might need some more changes to Dash still. Will probably be a little while before I get another chance to take a look.

[2020-04-08 15:32] gaceladri commented on #318
Hello,

I am having the same issue here. I have reverted to 1.0.0 and installed those versions that you specified, but it's not working neither. The path to the issue was the same, after rebooting the computer, it stopped to work. Now when I click on the button nothing happens.

[2020-04-08 17:08] tcbegley commented on #318
Hi @gaceladri

Could you post the code that isn't working, and also just confirm explicitly which versions of the Dash libraries you have. If you're using a Unix based operating system you could do something like

[code]

[2020-04-08 17:47] audetto opened #349 "dcc.Graph causes flickering when used with bootstrap"
Please fill out the below information as much as possible.

[code]

### What is happening?

I have built a dashboard using dash bootstrap components and a few graphs.
What happens is that for some combination of elements on the page the graphs (there are 2) get resized marginally when the mouse is moved over the page (without clicking). This in turns causes scrollbars to appear and disappear causi

[2020-04-08 17:49] gaceladri commented on #318
@tcbegley Thanks for your fast response. Here are the dash libraries on my env
`dash                      1.0.1
dash-bootstrap-components 0.7.2
dash-core-components      1.0.0
dash-html-components      1.0.0
dash-renderer             1.0.0
dash-table                4.0.1`

[2020-04-08 19:06] gaceladri commented on #318
@tcbegley Sorry I didnt read about the code.

[code]

[code]

[code]

[2020-04-09 10:39] rbw-lpp opened #350 "Display images in Table"
Hey everybody!

I wanted to show images inside dbc.Table.
I figured that I can just use HTML code for image <img> and that would work, unfortunately it doesn't.
Is this not a supported feature or am I doing something wrong?

I've tried 2 ways, one shown below where I just make the table manually, but I also tried to create table from DataFrame (with the HTML code inside the dataframe) and it didn'

[2020-04-09 11:39] tcbegley commented on #350
Hey @rbw-lpp

React (and hence Dash) won't convert strings to HTML elements for security reasons. You should use `html.Img` instead.

[code]

[2020-04-09 11:54] rbw-lpp commented on #350
It does make sense to not convert string to HTML, thanks @tcbegley.
With your example it now works as expected.

So for this to work with the `from_dataframe` method I would have to modify the code here:
https://github.com/facultyai/dash-bootstrap-components/blob/master/dash_bootstrap_components/table.py

And for images instead of doing this:
[code]
It should do:
[code]
Am I somewhere in the ballp

[2020-04-09 12:33] tcbegley commented on #350
Yeah that looks good to me. Though I think `from_dataframe` should also work without modification if you have `html.Img` objects in the dataframe itself.

For example, if your original dataframe has `image_src` and `SKU` columns you could do something like the following (I haven't tested this)

[code]

[2020-04-09 12:58] rbw-lpp commented on #350
I've just tested it and it works.
Thank you Tom for the help and have a lovely afternoon!

[2020-04-09 12:58] #350 closed

[2020-04-09 22:09] jezlax commented on #287
hi @tcbegley - me again :) ... hope your team and families are well in the UK. I might want to re-open this, or I may need to adjust my layout with the DropdownMenu ... I have nested two dropdown menus to create a sub-menu of sorts (see screenshot). It is no longer auto-dismissing the "parent" menu i.e. Bayesian Market Values, when I select "Bayesian Dashboard" for example. Is there a better way t

[2020-04-12 10:55] tcbegley commented on #287
Hi @jezlax,

Thanks for reporting. I hadn't anticipated people using nested DropdownMenus like that, I haven't seen that sort of usage documented in the Bootstrap docs for example.

That said, we can control the dismissal somewhat, so I'll take a look at whether it's easy to fix.

In terms of a better way, I'm not sure that there is. If I had a lot of links like that to manage I would probably con

[2020-04-12 11:08] tcbegley commented on #318
Hi @gaceladri,

Sorry for slow response, been busy the last few days.

I wasn't able to run your code, as there are some references to variables that aren't defined in the snippets you posted.

Instead I made the following simple example and tested it with the versions of the libraries that you posted above, I didn't have any issues. Could you try running it and see if you have the same problems?

[2020-04-12 11:32] tcbegley commented on #349
Hey @audetto,

Thanks for reporting. Unfortunately it's pretty hard to help without being able to reproduce the behaviour, but I will keep an eye out for this behaviour and monitor the other issue you opened.

Are you using any additional CSS in your app or is it just Bootstrap?

[2020-04-12 12:55] audetto opened #351 "Row / Col and un-necessary H scrollbar"
Please fill out the below information as much as possible.
[code]

### What is happening?
 An unnecessary scrollbar is present even with the simplest layout example.
Chrome & FFox.

### What should be happening?

No H Scrollbar is required

### Code

[code]

This, and other issues I have opened are my attempts to narrow down bigger problems I am seeing in a more complex app.
This H scroll bar is n

[2020-04-13 14:19] tcbegley commented on #351
Hi @audetto,

Thanks for raising this and the detailed report.

You should wrap your rows and columns with a `Container`. You can set `fluid=True` to make sure that the content has 100% width. The reason for the horizontal scrolling is that Bootstrap's rows have some negative width margins set for alignment reasons, but in this case the row is falling off the side of the screen. The container coun

[2020-04-13 19:53] audetto commented on #351
I always forget to set fluid=True otherwise I do not really understand what container does.
Indeed with fluid it helps.

I dont really know where to ask questions, so I do it here if it is acceptable.

The doc says one should have multiple Cols as children of a Row.
On the other hand I have read (about bootstrap not necessarily related to dash), the it is possible to do something like this

row1 (

[2020-04-13 20:31] eddy-geek commented on #283
My PR to persist boolean properties has been released in Dash 1.10.0, in case that helps :-)
I believe you can customize what you persist as well, so, not sure what you ean, can you expand on this?

[2020-04-13 20:55] tcbegley commented on #283
Thanks @eddy-geek,

I tried briefly to add support for the remaining components when I saw your changes got merged. I had a few issues (which could very possibly be me doing something dumb) but I didn’t get a chance to look into it further.

I plan to give it another go and I’ll be sure to let you know how I get on.

[2020-04-14 07:49] tcbegley commented on #351
Yes, that's certainly supported. I think the only two rules really are:

1. Use `Row` and `Col` inside `Container`.
2. The immediate children of `Row` should always be `Col`s, but the children of `Col` can be anything, including further `Row`s.

[2020-04-14 10:24] gaceladri commented on #318
@tcbegley Your example works. My fault was that I misplaced the `id=` and the `type=` of the button when writing. Sorry, my fault. The current code is working properly again. Thanks for your appreciable time.

In my example was:
[code]

and should be:

[code]

Sorry!

[2020-04-15 05:38] audetto commented on #351
I take that 1. means that I should just put entire layout in a Container

and not that every time I use Row (and Col) I should wrap them in a Container (so potentially having many in the layout)?

[2020-04-15 06:01] tcbegley commented on #351
Yes, you only need one container in the layout. To quote the Bootstrap docs

Sorry for the confusion. I'll figure out how to make our docs clearer

[2020-04-15 14:03] vcmorini opened #352 "Spinner custom colors"
Hello
I think it would be great to be able to set any possible color to the spinner. Example use-case: branding purposes.
Right now it has predefined color options.
Reference: [link](https://dash-bootstrap-components.opensource.faculty.ai/docs/components/spinner/)
Cheers!

[2020-04-15 16:10] swatakit opened #353 "How to adjust the size/position when using dbc.Container with Sidebar"
Hello,

I am using dbc.Container with navbar and sidebar.

The layout of the container with navbar look perfectly balanced, equally spaced on both size.
![container_navbar](https://user-images.githubusercontent.com/33592900/79359986-7b004700-7f6d-11ea-9f91-d91193bdd800.png)

![code_navbar](https://user-images.githubusercontent.com/33592900/79361147-1fcf5400-7f6f-11ea-8db5-55141616a506.PNG)

But wh

[2020-04-15 16:38] tcbegley commented on #352
Hey @vcmorini,

Thanks for suggesting this, we actually do something like this already for `Navbar` and `NavbarSimple`, so it should be pretty straightforward to do the same thing for spinner. I'll get that added.

In the meantime, you can set this with the `spinner_style` prop:

[code]

[2020-04-15 16:45] tcbegley commented on #353
Hi @swatakit

Try putting the `Container` as a child of the page-content div.

For example, using the simple sidebar example I would just change [this line](https://github.com/facultyai/dash-bootstrap-components/blob/master/examples/multi-page-apps/simple_sidebar.py#L60) to

[code]

The test I just did it worked well for me (red background added in screenshot to show where the margins are)

![imag

[2020-04-15 20:09] swatakit commented on #353
@tcbegley it works perfectly! thank you very much!

[2020-04-15 20:22] tcbegley commented on #353
Glad I could help :)

[2020-04-15 20:22] #353 closed

[2020-04-16 07:17] Tokusei opened #354 "Accordion Table"
Hi, is it possible to create a table object where each row entry has an accordion/arrow to expand and show additional data, If so, Is there any example code?

[2020-04-17 08:13] tcbegley commented on #354
Hi @Tokusei

Unfortunately I don't think that's going to be possible using just the components that are currently available (though I'm quite happy for someone to prove me wrong). I think it would require some custom javascript / components to be created.

If you're up for the challenge there's [good documentation for building custom components](https://dash.plotly.com/plugins)

[2020-04-18 05:02] Tokusei commented on #354
Thanks for the reply @tcbegley, I will look into the docs however I am not a web developer, So I doubt Ill be able to create one. If I do, Ill update this thread.

Another question: I am generating the table from a pandas dataframe,  However one of the table columns needs to include a html.checkbox component. Is there some way to add dash/html components into the dataframe, and then generate the t

[2020-04-18 06:46] tcbegley commented on #354
Yep! Just have the entries in the dataframe be `dbc.Checkbox` components. You could to it using `.map` for example, something like the following ought to work (haven't actually tested it).

[code]

You can then add interactivity using the cool new pattern matching callbacks feature of Dash 1.11.0

[2020-04-18 12:41] Tokusei commented on #354
Cheers, I will try to use this. Also, I would like to add pagination to the bootstrap table. Is there an example pattern for that somewhere?

[2020-04-27 02:51] yuorme opened #357 "dbc.Checklist switch not displaying selected when True is set as default"
I'd like to use a dbc.Checklist(switch=True) and set the default value to be True. When I initialize the app, the switch returns True to the callback but **displays** as if it were False (gray - unchecked). Once toggled, the switch behaves as normal. See GIF.

![checklist-switch-bug](https://user-images.githubusercontent.com/7991877/80329446-58451c80-8810-11ea-83a6-afa83637b81a.gif)

My checklist

[2020-04-27 08:08] tcbegley commented on #357
Hi @yuorme

Since `Checklist` allows for multiple selections, the `value` argument expects a list of values. If you change it to `value=[True]` that should fix the problem. Let me know if not.

[2020-04-27 15:00] yuorme commented on #357
Hi @tcbegley,

Really appreciate you getting back to me so quickly. Unfortunately, changing that line to `value=[True]` doesn't fix the issue for me. What happens now is that `True` is set as the default value but the switch no longer toggles between True and False.

![checklist-switch-bug](https://user-images.githubusercontent.com/7991877/80387154-4c8c4100-8876-11ea-9b73-88b690a20a33.gif)

I'm on

[2020-04-27 19:14] tcbegley commented on #357
Great! Glad to hear it.

Sure, always happy for help making the documentation better. What do you have in mind? It might be worth comparing to the [documentation](https://dash.plotly.com/dash-core-components) for [`dcc.Checklist`](https://dash.plotly.com/dash-core-components/checklist), whose interface `dbc.Checklist` deliberately replicates.

The relevant file is [this one](https://github.com/fac

[2020-04-28 19:50] SpikingNeuron opened #358 "Cannot use the library behind firewall or without internet connection."
Before opening:

- [Search for duplicate or closed issues](https://github.com/facultyai/dash-bootstrap-components/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the [contributing guidelines](https://github.com/facultyai/dash-bootstrap-components/blob/master/.github/CONTRIBUTING.md)

Please fill out the below information as much as possible.

- dash version: `#1.11.0`
- dash-bootstrap-components versio

[2020-04-28 19:57] SpikingNeuron commented on #358
I also tried `--no-dependencies` option but that to does not work. Please fix this so that it helps users behind firewall.

[2020-04-28 20:25] SpikingNeuron commented on #358
Just found a solution. I compile wheel from tar file using `pip wheel ...`and then used that wheel for offline installation. I assume that all that is needed from your side is to upload whl files to pypi repository :)

[2020-04-29 06:32] tcbegley commented on #358
Thanks for raising @SpikingNeuron. The issue is that for some reason it tries to install `setuptools` as a build dependency, whether or not it's already installed, I've never really got to the bottom of that (I think that's part of the reason `--no-dependencies` doesn't work, because it doesn't ignore build dependencies).

Thanks for the suggestion of uploading wheels, I'll look into that and hope

[2020-04-29 06:51] tcbegley commented on #358
I just had another look into it, and I think I've found the problem thanks to [this issue](https://github.com/pypa/pip/issues/8043#issuecomment-614027307).

Following the guidance there, I successfully managed to do the following in a virtual environment which had only `pip`, `setuptools` and `wheel` installed.

[code]

Then, with no internet connection

[code]

This way `dash-bootstrap-components

[2020-05-04 13:48] MM-Lehmann opened #361 "Support dash 1.11 wildcard ids/callbacks"
I would like to use dash's 1.11 introduced feature of wildcard callbacks with the bootstrap components. What is needed on your side to support that feature?
see https://dash.plotly.com/pattern-matching-callbacks

[2020-05-05 06:32] nadav-har-tzvi opened #362 "Popover interface is missing the flip property"
I've taken the time to look around and it seems that dbc.Popover doesn't expose the flip property. It is however completely supported by the underlying reactstrap Popover component.

To be more specific, here is the definition for `dbc.Popover.proptypes`:
[code]

And here is the definition for reactstrap `Popover.proptypes`:
[code]

I've already tested this locally and adding a one-liner `flip: Pr

[2020-05-05 06:44] tcbegley commented on #361
Hi @MM-Lehmann,

As far as I'm aware there's no changes needed from us. The examples in the Dash documentation appear to work if you adapt them for use with dash-bootstrap-components. Is there something you tried to achieve that didn't work? Please let me know if so.

Here's some examples for you to try out. First, adapted from the second example in the docs

[code]

And one that I made while expe

[2020-05-05 06:45] tcbegley commented on #362
Hey @nadav-har-tzvi

Thanks for reporting, I think this is just an oversight on our part, would gladly accept a PR to add that line.

[2020-05-05 11:27] MM-Lehmann commented on #361
Thanks for clarifying. I've been able to use the components in a similar, though more complex environment. However, if I use `id=dict(...)` in `dbc.Tooltip` I get JS errors in my frontend like this:
[code]
Also, there appeared a few more errors which I haven't been able to trace down as of yet.
It just makes me believe that at some places, strings are still strictly expected instead of dicts.

[2020-05-05 12:27] tcbegley commented on #361
Ah interesting, thanks for letting me know, I'll take a look and try to track down the source of the bugs when I get a chance.

[2020-05-06 07:33] acoque commented on #174
Hello there !

First, thanks for the nice work you've done. It's realy easy to design a nice-looking dashboard using this package.

I'm in the exact same situation than bearch, except than I'm using dbc.Select components instead of a dbc.Dropdown (dbc.Select didn't exist when this issue was first open by bearsh) and I was then wondering if you were planning to implement multivalue support for this

[2020-05-06 07:35] tcbegley commented on #362
Closed by #363, will make a new release with this change soon. Thanks for contributing!

[2020-05-06 07:35] #362 closed

[2020-05-06 07:40] acoque opened #364 "Multi-Value Select"
Hello there !

First, thanks for the nice work you've done. It's realy easy to design a nice-looking dashboard using this package.

I'm in the exact same situation than bearch (#174), except than I'm using dbc.Select components instead of a dbc.Dropdown (dbc.Select didn't exist when #174 was open by bearsh) and I was then wondering if you were planning to implement multivalue support for this comp

[2020-05-07 18:38] tcbegley commented on #364
Hey @acoque

The `Select` component just renders a HTML `<select>`, which does have a `multiple` option, but it doesn't render quite like you might expect on most browsers, it's usually a scrolling list box rather than a dropdown style selector. Take a look [here](https://getbootstrap.com/docs/4.4/components/forms/#select-menu) for example (you might need to scroll down a bit to get to the multipl

[2020-05-09 07:48] #352 closed

[2020-05-09 07:51] tcbegley commented on #352
I've addressed this in #366, will be available in the next release.

[2020-05-09 08:48] tcbegley commented on #361
Hey @MM-Lehmann,

I've looked into this, found the same issue you described above when setting `target=dict(...)` (I assume that's what you mean rather than `id`? I wasn't able to replicate that). The reason for this is that dictionaries that get passed to `id` [now get stringified](https://github.com/plotly/dash/blob/dev/dash/_utils.py#L190-L193) to support the pattern-matching callbacks, but tha

[2020-05-09 14:50] tcbegley commented on #150
This is now done! Check out the (limited) [docs](https://dash-bootstrap-components.opensource.faculty.ai/docs/dashr/) for info on how to get started. Still much to do in the way of documentation and testing, but closing this particular issue for now.

[2020-05-09 14:50] #150 closed

[2020-05-09 18:35] firasm commented on #150
Awesome! Thanks :-) Will ask the students to file reports as they're discovered.

[2020-05-09 21:21] rpkyle opened #370 "Suggestion: load dashHtmlComponents package in R example"
In the current R documentation available [here](https://dash-bootstrap-components.opensource.faculty.ai/docs/dashr/), the simple example does not reference `dashHtmlComponents`, which it seems to require be loaded before `dbcContainer` is invoked. The suggested codeblock is

[code]

This will avoid the following console error in a fresh R session and render the page properly:

<img width="644" alt

[2020-05-10 07:24] tcbegley commented on #370
Thanks @rpkyle, turns out I even had the extra line in the app I was testing locally but didn't put it in the docs somehow 😖 I've fixed the example as part of #371

Any idea why this is happening? FWIW I tried making an app using only _dashCoreComponents_ based on an example in the readme and noticed the same error. With _dashHtmlComponents_ loaded it runs fine, without it throws an error despite

[2020-05-12 09:05] acoque commented on #364
Hello @tcbegley

I feel like an idiot not to find out dcc.Select only renders an HTML `<select>`... And as u say, it looks weird in most of browsers (with the multiple option set to true).

About the dash-bootstrap-css stylesheet, well, I just added the "dash-bootstrap className stuff" cause I see that in an issue or some random commit but I didn't download the stylesheet and put it into my assets

[2020-05-12 09:05] #364 closed

[2020-05-12 16:52] alejandrovalde opened #372 "Dash Table Width not correct"
- dash version: 1.12.0
- dash-bootstrap-components version: 0.10.0
- dash-table: 4.7.0

### What is happening?

When using a `dash_table.DataTable` with `external_stylesheets=[dbc.themes.BOOTSTRAP]` or other Bootstrap Themes - the dash table won't show properly.

<img width="1280" alt="Screenshot 2020-05-12 at 18 42 58" src="https://user-images.githubusercontent.com/65018486/81721617-75b8ee00-9480

[2020-05-13 06:20] tcbegley commented on #372
Hi @alejandrovalde

This is likely because `DataTable` and Bootstrap both use a CSS class called `row`, which clashes a bit. The easiest fix is to remove the changes Bootstrap makes to the `row` class within the data-table by writing some custom CSS like this

[code]

If you place that within your `assets/` folder it should improve the situation, let me know if not.

[2020-05-13 08:48] jaydip-c opened #373 "Can't install using pip"
Before opening:

- [Search for duplicate or closed issues](https://github.com/facultyai/dash-bootstrap-components/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the [contributing guidelines](https://github.com/facultyai/dash-bootstrap-components/blob/master/.github/CONTRIBUTING.md)

Please fill out the below information as much as possible.

- dash version: `#1.10.0`
- dash-bootstrap-components versio

[2020-05-13 21:31] ndepal commented on #212
Sorry to be posting on an old issue but I have the same scrolling problem as @jfrank87. On a big tab I scroll down and click a button that takes me to a new tab and I would like the page to be scrolled to the top.

I create my tabs slightly differently, so I'm not sure which element's `key` I should be setting.

Here is my layout:
[code]

I then have a callback that sets the `Output('tabs', 'activ

[2020-05-14 07:04] tcbegley commented on #373
Hey @jaydip-c

I don't have any problems installing with the command you ran. From your error message it looks like the problem is coming when it tries to get build dependencies from PyPI. Maybe try installing them manually first?

[code]

Is there any additional output in the error message?

[2020-05-14 07:40] tcbegley commented on #212
Hi @ndepal

When using `Tabs` as you are (i.e. passing tabs as children rather than rendering with a callback), the key is managed for you, so you can't resolve this by setting the key.

I think the best thing might be use a clientside callback, then you can scroll the window with some javascript. Here's an example

[code]

[2020-05-14 08:24] MM-Lehmann commented on #283
Can you please check persistence against the new style `id=dict(...) `property? It doesn't seem to work with dash1.12. When I convert back to standard `id=str(...),` it does work.

[2020-05-14 08:25] MM-Lehmann commented on #361
This could be connected to failing persistence with `id=dict(...)` as reported in #283

[2020-05-14 08:25] tcbegley commented on #283
@MM-Lehmann I can take a look for sure. Does persistence work with dash-core-components and `id=dict(...)`?

[2020-05-14 08:29] MM-Lehmann commented on #283
@tcbegley good question. It doesn't actually. So this seems a dash issue rather. I'll post a new issue there. Sorry for clobbing this thread.

[2020-05-14 16:07] ndepal commented on #212
Thanks for the quick reply @tcbegley! This does what I want. It also works if I have `debug=True`, fyi.

[2020-05-14 17:34] jaydip-c commented on #373
Hello,

How do I install it manually? I am still getting the error. Below is the
full error. Also, I am able to install dash-bootstrap-components-0.7.0.

Installing build dependencies ... done
  Getting requirements to build wheel ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3
/home/jaydipc/.local/lib/python3.6/site-packages/pip/_vendor/pep517/_in_process.p

[2020-05-14 18:33] tcbegley commented on #373
Could you try adding the flag `--no-build-isolation`, I think it might help here.

[code]

[2020-05-15 04:21] jaydip-c commented on #373
Same error.
I am using Linux Mint 19.3 64-bit, 5.3.0-51-generic.

Thanks.

On Fri, May 15, 2020 at 12:03 AM Tom Begley <notifications@github.com>
wrote:

--
Thanks and regards,
Jaydip Chakrabarty

Phone: (091)-9874048669

[2020-05-15 06:38] tcbegley commented on #373
Which version of `setuptools` have you got?

[code]

If it's less than 40.8.0 can you try upgrading it

[code]

then retry installing dash-bootstrap-components

[2020-05-15 07:43] jaydip-c commented on #373
Yes, my setuptools' version was 40.5.0.
Upgraded it to latest version. Then tried to install, but got same error.
But finally was able to install it with
python3 -m pip install --user --no-build-isolation dash-bootstrap-components

Thanks.

On Fri, May 15, 2020 at 12:09 PM Tom Begley <notifications@github.com>
wrote:

--
Thanks and regards,
Jaydip Chakrabarty

Phone: (091)-9874048669

[2020-05-15 17:14] rpkyle commented on #370
@tcbegley I think this might actually be due to outdated code that I'm working to remove within Dash for R. There's a PR open now I'm planning to wrap up next week that should remove the implicit dependency, since I'm about to send the package off to CRAN for review, and I don't want this to impact anyone else.

With any luck, it will be resolved soon, then I'll retest with `dashBootstrapComponent

[2020-05-16 02:55] yuzhujiutian opened #374 "How to add a close button in the upper right corner of card component?"
two questions:

1. How to add a close button in the upper right corner?

2. How to code to support dragging and changing positions between different card?

output card like as follows:
![image](https://user-images.githubusercontent.com/386347/82108777-94123880-9763-11ea-850a-99b48a052fdc.png)

picture come from:
[Python, Dash: how to add a KPI Card component to a dashboard](https://stackoverflow.c

[2020-05-16 08:27] tcbegley commented on #373
Glad you managed to get it installed. I'm going to take a look at being more explicit in the specification of our build dependencies which hopefully will prevent this sort of thing in future. Closing this for now.

[2020-05-16 08:27] #373 closed

[2020-05-16 09:56] tcbegley commented on #374
Hey @yuzhujiutian

[Here's an example](https://gist.github.com/tcbegley/b7c49d0aec605e383d3b8190448f45f2) that addresses question 1.

![image](https://user-images.githubusercontent.com/15220906/82116693-970d2900-9763-11ea-9588-a4b74de92a37.png)

Making the cards draggable to reorder them would likely require a custom Dash component, maybe one that wraps something like [this](https://github.com/Str

[2020-05-17 00:07] yuzhujiutian commented on #374
thank you very much give me the example.

@tcbegley

[2020-05-17 00:07] #374 closed

[2020-05-17 15:26] ExperimentalHypothesis commented on #372
i actually have the same problem and it seems not possible to style it properly. would you be wiling to upload a simple demo of dash_table with bootstrap somewhere to see it?

[2020-05-17 15:48] alejandrovalde commented on #372
My way to fix this was the following:

Download the .css class file from https://bootswatch.com/ that you want. The default BOOTSTRAP theme is here https://bootswatch.com/default/

Then add to the .css file the custom CSS @tcbegley posted above:

`.dash-table-container .row {
  display: block;
  margin: 0;
}`

![Screenshot 2020-05-17 at 17 45 22](https://user-images.githubusercontent.com/65018486/

[2020-05-17 20:53] jonatan-klock opened #375 "container-fluid"
How can we use the Fluid Container and not only the.container

Use the .container-fluid class to create a full width container, that will always span the entire width of the screen (width is always 100%):

https://www.w3schools.com/bootstrap4/bootstrap_containers.asp

[2020-05-17 21:28] jonatan-klock commented on #375
I found the solution in the documentation:
Keyword arguments for Container
children (a list of or a singular dash component, string or number, optional): The children of this component
fluid (boolean, optional): If True the container-fluid class will be applied, and the Container will expand to fill available space. A non-fluid container resizes responsively to a fixed width at the different break

[2020-05-17 21:28] #375 closed

[2020-05-21 14:56] MM-Lehmann opened #376 "[BUG] navbar sticky='top' doesn't work in dash 1.10+"
Since upgrading to dash 1.10+, the `dbc.navbar` option `sticky='top'` does not have an effect anymore. The navbar should stay at the top of the viewport, instead in only stays at the top of the page.
This worked up until dash 1.9 as far as I can tell

[2020-05-22 06:25] tcbegley commented on #376
Hi @MM-Lehmann

I tried to reproduce this but was unable to with the following code:

[code]

Can you try that out? If it works, can you see if you can reproduce the behaviour you're seeing with an example?

For reference, I ran that example with

[code]

[2020-05-23 01:00] Jerry-Ma opened #377 "Add `id` to radioitems.options options so that one can attach tooltips to them"
Hi,

Thank you for this fantastic package!

I started to play with the radio items and found that currently it is not easy to add tooltips for the items.

The issue is that `dbc.Tooltip`  needs an `target` property but if we use a plain `dbc.RadioItems`, the created option items do not have an id.

I also tried using the stand alone radio item approach, and I can create the layout as expected, but

[2020-05-23 02:01] Jerry-Ma commented on #377
It appears that one does not need id because I found that the `target` property is passed as is to the react component underlying, so a css selector can be passed:
[code]

[2020-05-23 06:41] tcbegley commented on #377
That looks like a nice workaround!

I'll look at adding `label_id` and `input_id` options to `RadioItems` and `Checklist`

[2020-05-23 07:17] tcbegley commented on #377
Adding this in #379, seems to work well 👍

[code]

Will close this when it makes it into a release.

[2020-05-23 07:19] tcbegley commented on #357
Closing this now, feel free to reopen if you are still having problems.

[2020-05-23 07:19] #357 closed

[2020-05-23 18:32] mak296 commented on #176
Hi @tcbegley, thanks for all the hard work on `dash-bootstrap-components`, I'm finding it really useful.

I was wondering if you had any update on `dash_table.DataTable` support? I note that you have provided [compiled stylesheets](https://github.com/tcbegley/dash-bootstrap-css) which override some `dcc` defaults, but these are [not yet compatible](https://github.com/tcbegley/dash-bootstrap-css/is

[2020-05-24 16:43] Jerry-Ma commented on #377
Great, thank you very much!

[2020-05-25 08:09] MM-Lehmann commented on #275
How trivial would it be including the `title` option attribute as supported by `dcc.dropdown`?
Or maybe supplying `dbc.dropdown` would be easier?

[2020-05-26 02:44] dr-glenn opened #382 "Container width is wrong"
Please refer to #286.
The size of dbc.Container with the 4 colored rectangles measures as 1110x937 (my screen is 1920x1080 and of course some real estate is consumed by the browser). I expected the colored cells to occupy the entire view. Changing the browser window only alters the very wide margins on right and left. Using Chrome browser 81.0.4044.138 or Edge browser.

- dash version: `#1.12.0`
-

[2020-05-26 06:50] tcbegley commented on #382
Hi @dr-glenn

The [default Bootstrap container](https://getbootstrap.com/docs/4.5/layout/overview/#all-in-one) is fixed width by design. If you would like it to fill the horizontal space you can use a fluid container by setting `fluid=True`

[code]

Let me know if that resolves your issue.

[2020-05-26 17:23] dr-glenn commented on #382
It fixes the color box example, and also resolves the height issues I was seeing and no more odd layout about scrollbars (which I also mentioned). I don't understand why a Bootstrap container is fixed width by design.
Unfortunately I now have a height problem with my real application. _dcc.Graph_ components do not obey height as applied to _dbc.Row_, that is, _className="h-25"_ or _"h-75"_ is igno

[2020-05-26 19:15] tcbegley commented on #382
You'll probably want to either set the height of the graph or set something like `max-height` on the row, looks like they're expanding to accommodate their content (your graphs).

[2020-05-27 06:29] MM-Lehmann commented on #376
Your example works.
Mine does now too. Strangely, a simple `html.Div(...)` I had been wrapping the navbar in was responsible for the misbehaviour. somehow, the sticky didn't get passed through.
My layout was looking the following:
[code]

When changing to `navbar = dbc.Navbar([...])` the issue went away.

[2020-05-27 07:39] tcbegley commented on #376
Ah ok, sticky positioning is relative to the containing block, see [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/position) for more details, so I guess the navbar was being stickily positioned within that div, but since it was the only element in the div that didn't have much affect.

Glad to hear it's working for you now though, going to close this.

[2020-05-27 07:39] #376 closed

[2020-05-29 14:10] rpkyle commented on #370
@tcbegley Some good news -- I've merged plotly/dashR#121, and released v0.5.0 of Dash for R. Dash no longer has any implicit dependence on `dashHtmlComponents`, so it's now possible to use the example as originally written 😅 .

I've tested and confirmed this locally, and the new version is available from `master` if you'd like to try it. If it works on your end also, feel free to close this issue!

[2020-05-29 17:20] gioxc88 opened #383 "Allow float value for width parameter of Col"
at the moment the width is specified as number of columns in a grid of 12.
It should be easy to implement something like this by default

[code]

[2020-05-29 20:47] jarvas24 opened #384 "dbc.Form component causes unwanted page refresh"
- dash version: `1.12.0`
- dash-bootstrap-components version: `0.10.0`
- components affected by bug: dbc.Form, dbc.Input

### What is happening?
Interaction with certain components within a dbc.Form cause the page to refresh. In the example below, a refresh is triggered by pressing Enter while the dbc.Input is selected. Seems to be browser independent (I tried Chrome, Firefox, and Safari). Replaci

[2020-05-29 21:02] tcbegley commented on #384
Thanks @jarvas24, I have reproduced the behaviour you described with your example (thanks for that!), will work on a fix.

[2020-05-29 22:00] tcbegley commented on #383
Hey @gioxc88

Thanks for the suggestion. Is there a reason this should be part of `Col` rather than just letting the user do `dbc.Col(width=round(12 * width))`?

I'm hesitant to include it to be honest because I think it might lead to confusing results. For example `width=0.3` would be twice the width of `width=0.2`. Forcing users to think in terms of the grid system means no nasty surprises like